In [1]:
list_2017 = ['2017/02012017.pdf',
 '2017/03012017.pdf',
 '2017/04012017.pdf',
 '2017/05012017.pdf',
 '2017/06012017.pdf',
 '2017/07012017.pdf',
 '2017/09012017.pdf',
 '2017/10012017.pdf',
 '2017/11012017.pdf',
 '2017/12012017.pdf',
 '2017/13012017.pdf',
 '2017/14012017.pdf',
 '2017/16012017.pdf',
 '2017/17012017.pdf',
 '2017/18012017.pdf',
 '2017/19012017.pdf',
 '2017/20012017.pdf',
 '2017/21012017.pdf',
 '2017/23012017.pdf',
 '2017/24012017.pdf',
 '2017/25012017.pdf',
 '2017/27012017.pdf',
 '2017/28012017.pdf',
 '2017/30012017.pdf',
 '2017/31012017.pdf',
 '2017/01022017.pdf',
 '2017/02022017.pdf',
 '2017/03022017.pdf',
 '2017/04022017.pdf',
 '2017/06022017.pdf',
 '2017/07022017.pdf',
 '2017/08022017.pdf',
 '2017/09022017.pdf',
 '2017/10022017.pdf',
 '2017/11022017.pdf',
 '2017/13022017.pdf',
 '2017/14022017.pdf',
 '2017/15022017.pdf',
 '2017/16022017.pdf',
 '2017/17022017.pdf',
 '2017/18022017.pdf',
 '2017/20022017.pdf',
 '2017/21022017.pdf',
 '2017/22022017.pdf',
 '2017/23022017.pdf',
 '2017/24022017.pdf',
 '2017/25022017.pdf',
 '2017/27022017.pdf',
 '2017/28022017.pdf',
 '2017/01032017.pdf',
 '2017/02032017.pdf',
 '2017/03032017.pdf',
 '2017/04032017.pdf',
 '2017/06032017.pdf',
 '2017/07032017.pdf',
 '2017/08032017.pdf',
 '2017/09022017.pdf',
 '2017/10032017.pdf',
 '2017/11032017.pdf',
 '2017/14032017.pdf',
 '2017/15032017.pdf',
 '2017/16032017.pdf',
 '2017/17032017.pdf',
 '2017/18032017.pdf',
 '2017/20032017.pdf',
 '2017/21032017.pdf',
 '2017/22032017.pdf',
 '2017/23032017.pdf',
 '2017/24032017.pdf',
 '2017/25032017.pdf',
 '2017/27032017.pdf',
 '2017/28032017.pdf',
 '2017/29032017.pdf',
 '2017/30032017.pdf',
 '2017/31032017.pdf',
 '2017/01042017.pdf',
 '2017/03042017.pdf',
 '2017/04042017.pdf',
 '2017/05042017.pdf',
 '2017/06042017.pdf',
 '2017/07042017.pdf',
 '2017/08042017.pdf',
 '2017/10042017.pdf',
 '2017/11042017.pdf',
 '2017/12042017.pdf',
 '2017/13042017.pdf',
 '2017/14042017.pdf',
 '2017/15042017.pdf',
 '2017/17042017.pdf',
 '2017/18042017.pdf',
 '2017/19042017.pdf',
 '2017/20042017.pdf',
 '2017/21042017.pdf',
 '2017/22042017.pdf',
 '2017/24042017.pdf',
 '2017/25042017.pdf',
 '2017/26042017.pdf',
 '2017/27042017.pdf',
 '2017/28042017.pdf',
 '2017/29042017.pdf',
 '2017/01052017.pdf',
 '2017/02052017.pdf',
 '2017/03052017.pdf',
 '2017/04052017.pdf',
 '2017/05052017.pdf',
 '2017/06052017.pdf',
 '2017/08052017.pdf',
 '2017/09052017.pdf',
 '2017/10052017.pdf',
 '2017/11052017.pdf',
 '2017/12052017.pdf',
 '2017/13052017.pdf',
 '2017/15052017.pdf',
 '2017/16052017.pdf',
 '2017/17052017.pdf',
 '2017/18052017.pdf',
 '2017/19052017.pdf',
 '2017/20052017.pdf',
 '2017/22052017.pdf',
 '2017/23052017.pdf',
 '2017/24052017.pdf',
 '2017/25052017.pdf',
 '2017/26052017.pdf',
 '2017/27052017.pdf',
 '2017/29052017.pdf',
 '2017/30052017.pdf',
 '2017/31052017.pdf',
 '2017/01062017.pdf',
 '2017/02062017.pdf',
 '2017/03062017.pdf',
 '2017/05062017.pdf',
 '2017/06062017.pdf',
 '2017/07062017.pdf',
 '2017/08062017.pdf',
 '2017/09062017.pdf',
 '2017/10062017.pdf',
 '2017/12062017.pdf',
 '2017/13062017.pdf',
 '2017/14062017.pdf',
 '2017/15062017.pdf',
 '2017/16062017.pdf',
 '2017/17062017.pdf',
 '2017/19062017.pdf',
 '2017/20062017.pdf',
 '2017/21062017.pdf',
 '2017/22062017.pdf',
 '2017/23062017.pdf',
 '2017/24062017.pdf',
 '2017/26062017.pdf',
 '2017/27062017.pdf',
 '2017/28062017.pdf',
 '2017/29062017.pdf',
 '2017/30062017.pdf',
 '2017/01072017.pdf',
 '2017/03072017.pdf',
 '2017/04072017.pdf',
 '2017/05072017.pdf',
 '2017/06072017.pdf',
 '2017/07.07.2017.pdf',
 '2017/08072017.pdf',
 '2017/10072017.pdf',
 '2017/11072017.pdf',
 '2017/12072017.pdf',
 '2017/13072017.pdf',
 '2017/14072017.pdf',
 '2017/15072017.pdf',
 '2017/17072017.pdf',
 '2017/18072017.pdf',
 '2017/19072017.pdf',
 '2017/20072017.pdf',
 '2017/21072017.pdf',
 '2017/22072017.pdf',
 '2017/24072017.pdf',
 '2017/25072017.pdf',
 '2017/26072017.pdf',
 '2017/27072017.pdf',
 '2017/28072017.pdf',
 '2017/29072017.pdf',
 '2017/31072017.pdf',
 '2017/01082017.pdf',
 '2017/02082017.pdf',
 '2017/03082017.pdf',
 '2017/04082017.pdf',
 '2017/05082017.pdf',
 '2017/07082017.pdf',
 '2017/08082017.pdf',
 '2017/09082017.pdf',
 '2017/10082017.pdf',
 '2017/11082017.pdf',
 '2017/12082017.pdf',
 '2017/14082017.pdf',
 '2017/16082017.pdf',
 '2017/17082017.pdf',
 '2017/18082017.pdf',
 '2017/19082017.pdf',
 '2017/21082017.pdf',
 '2017/22082017.pdf',
 '2017/23082017.pdf',
 '2017/24082017.pdf',
 '2017/25082017.pdf',
 '2017/26082017.pdf',
 '2017/28082017.pdf',
 '2017/29082017.pdf',
 '2017/30082017.pdf',
 '2017/31082017.pdf',
 '2017/01092017.pdf',
 '2017/02092017.pdf',
 '2017/04092017.pdf',
 '2017/05092017.pdf',
 '2017/06092017.pdf',
 '2017/07092017.pdf',
 '2017/08092017.pdf',
 '2017/09092017.pdf',
 '2017/11092017.pdf',
 '2017/12092017.pdf',
 '2017/13092017.pdf',
 '2017/14092017.pdf',
 '2017/15092017.pdf',
 '2017/16092017.pdf',
 '2017/18092017.pdf',
 '2017/19092017.pdf',
 '2017/20092017.pdf',
 '2017/21092017.pdf',
 '2017/22092017.pdf',
 '2017/23092017.pdf',
 '207/25092017..pdf',
 '2017/26092017.pdf',
 '2017/27092017.pdf',
 '2017/28092017.pdf',
 '2017/29092017.pdf',
 '2017/30092017.pdf',
 '2017/03102017.pdf',
 '2017/04102017.pdf',
 '2017/05102017.pdf',
 '2017/06102017.pdf',
 '2017/07102017.pdf',
 '2017/09102017.pdf',
 '2017/10102017.pdf',
 '2017/11102017.pdf',
 '2017/12102017.pdf',
 '2017/13102017.pdf',
 '2017/14102017.pdf',
 '2017/16102017.pdf',
 '2017/17102017.pdf',
 '2017/18102017.pdf',
 '2017/19102017.pdf',
 '2017/20102017.pdf',
 '2017/21102017.pdf',
 '2017/23102017.pdf',
 '2017/24102017.pdf',
 '2017/25102017.pdf',
 '2017/26102017.pdf',
 '2017/27102017.pdf',
 '2017/28102017.pdf',
 '2017/30102017.pdf',
 '2017/31102017.pdf',
 '2017/01102017.pdf',
 '2017/02112017.pdf',
 '2017/03112017.pdf',
 '2017/04112017.pdf',
 '2017/06112017.pdf',
 '2017/07112017.pdf',
 '2017/08112017.pdf',
 '2017/09112017.pdf',
 '2017/10112017.pdf',
 '2017/11112017.pdf',
 '2017/13112017.pdf',
 '2017/14112017.pdf',
 '2017/15112017.pdf',
 '2017/16112017.pdf',
 '2017/17112017.pdf',
 '2017/18112017.pdf',
 '2017/20112017.pdf',
 '2017/21112017.pdf',
 '2017/22112017.pdf',
 '2017/23112017.pdf',
 '2017/24112017.pdf',
 '2017/25112017.pdf',
 '2017/27112017.pdf',
 '2017/28112017.pdf',
 '2017/29112017.pdf',
 '2017/30112017.pdf',
 '2017/01122017.pdf',
 '2017/02122017.pdf',
 '2017/04122017.pdf',
 '2017/05122017.pdf',
 '2017/06122017.pdf',
 '2017/07122017.pdf',
 '2017/08122017.pdf',
 '2017/09122017.pdf',
 '2017/11122017.pdf',
 '2017/12122017.pdf',
 '2017/13122017.pdf',
 '2017/14122017.pdf',
 '2017/15122017.pdf',
 '2017/16122017.pdf',
 '2017/18122017.pdf',
 '2017/19122017.pdf',
 '2017/20122017.pdf',
 '2017/21122017.pdf',
 '2017/22122017.pdf',
 '2017/23122017.pdf',
 '2017/25122017.pdf',
 '2017/26122017.pdf',
 '2017/27122017.pdf',
 '2017/28122017.pdf',
 '2017/29122017.pdf',
 '2017/30122017.pdf']
list_2017 = [item for item in list_2017 if item[7:9] == "06"]

In [65]:
list_2019 = ['2019/01012019.pdf',
         '2019/02012019.pdf',
         '2019/03012019.pdf',
         '2019/04012019.pdf',
         '2019/05012019.pdf',
         '2019/07012019.pdf',
         '2019/08012019.pdf',
         '2019/09012019.pdf',
         '2019/10012019.pdf',
         '2019/11012019.pdf',
         '2019/12012019.pdf',
         '2019/14012019.pdf',
         '2019/15012019.pdf',
         '2019/16012019.pdf',
         '2019/17012019.pdf',
         '2019/18012019.pdf',
         '2019/19012019.pdf',
         '2019/21012019.pdf',
         '2019/22012019.pdf',
         '2019/23012019.pdf',
         '2019/24012019.pdf',
         '2019/25012019.pdf',
         '2019/28012019.pdf',
         '2019/29012019.pdf',
         '2019/30012019.pdf',
         '2019/31012019.pdf',
         '2019/01022019.pdf',
         '2019/02022019.pdf',
         '2019/04022019.pdf',
         '2019/05022019.pdf',
         '2019/06022019.pdf',
         '2019/07022019.pdf',
         '2019/08022019.pdf',
         '2019/09022019.pdf',
         '2019/11022019.pdf',
         '2019/12022019.pdf',
         '2019/13022019.pdf',
         '2019/14022019.pdf',
         '2019/15022019.pdf',
         '2019/16022019.pdf',
         '2019/18022019.pdf',
         '2019/19022019.pdf',
         '2019/20022019.pdf',
         '2019/21022019.pdf',
         '2019/22022019.pdf',
         '2019/23022019.pdf',
         '2019/25022019.pdf',
         '2019/26022019.pdf',
         '2019/27022019.pdf',
         '2019/28022019.pdf',
         '2019/01032019.pdf',
         '2019/02032019.pdf',
         '2019/04032019.pdf',
         '2019/05032019.pdf',
         '2019/06032019.PDF',
         '2019/07022019.pdf',
         '2019/08032019.pdf',
         '2019/09032019.pdf',
         '2019/11032019.pdf',
         '2019/12032019.pdf',
         '2019/13032019.pdf',
         '2019/14032019.pdf',
         '2019/15032019.pdf',
         '2019/16032019.pdf/',
         '2019/18032019.pdf',
         '2019/19032019.pdf',
         '2019/20032019.pdf',
         '2019/22032019.pdf',
         '2019/23032019.pdf',
         '2019/25022019.pdf',
         '2019/26032019.pdf',
         '2019/27032019.pdf',
         '2019/28032019.pdf',
         '2019/29032019.pdf',
         '2019/30032019.pdf',
         '2019/01042019.pdf',
         '2019/02042019.PDF',
         '2019/03042019.PDF',
         '2019/04042019.pdf',
         '2019/05042019.pdf',
         '2019/06042019.pdf',
         '2019/08042019.pdf',
         '2019/09042019.pdf',
         '2019/10042019.pdf',
         '2019/11042019.pdf',
         '2019/12042019.pdf',
         '2019/13042019.pdf',
         '2019/15042019.pdf',
         '2019/16042019.pdf',
         '2019/17042019.pdf',
         '2019/18042019.pdf',
         '2019/19042019.pdf',
         '2019/20042019.pdf',
         '2019/22042019.pdf',
         '2019/23042019.pdf',
         '2019/24042019.pdf',
         '2019/25042019.pdf',
         '2019/26042019.pdf',
         '2019/27042019.pdf',
         '2019/29042019.pdf',
         '2019/30042019.pdf',
         '2019/01052019.pdf',
         '2019/02052019.pdf',
         '2019/03052019.pdf',
         '2019/04052019.pdf',
         '2019/06052019.pdf',
         '2019/07052019.pdf',
         '2019/08052019.pdf',
         '2019/09052019.pdf',
         '2019/10052019.pdf',
         '2019/11052019.pdf',
         '2019/13052019.pdf',
         '2019/14052019.pdf',
         '2019/15052019.pdf',
         '2019/16052019.pdf',
         '2019/17052019.pdf',
         '2019/18052019.pdf',
         '2019/20052019.pdf',
         '2019/21052019.pdf',
         '2019/22052019.pdf',
         '2019/23052019.pdf',
         '2019/24052019.pdf',
         '2019/25052019.pdf',
         '2019/27052019.pdf',
         '2019/28052019.pdf',
         '2019/29052019.pdf',
         '2019/30052019.pdf',
         '2019/31052019.pdf',
         '2019/01062019.pdf',
         '2019/03062019.pdf',
         '2019/04062019.pdf',
         '2019/05062019.pdf',
         '2019/06062019.pdf',
         '2019/07062019.pdf',
         '2019/08062019.pdf',
         '2019/10062019.pdf',
         '2019/11062019.pdf',
         '2019/12062019.pdf',
         '2019/13062019.pdf',
         '2019/14062019.pdf',
         '2019/15062019.pdf',
         '2019/17062019.pdf',
         '2019/18062019.pdf',
         '2019/19062019.pdf',
         '2019/20062019.pdf',
         '2019/21062019.pdf',
         '2019/22062019.pdf',
         '2019/24062019.pdf',
         '2019/25062019.pdf',
         '2019/26062019.pdf',
         '2019/27062019.pdf',
         '2019/28062019.pdf',
         '2019/29062019.pdf',
         '2019/01072019.pdf',
         '2019/02072019.pdf',
         '2019/03072019.pdf',
         '2019/04072019.pdf',
         '2019/05072019.pdf',
         '2019/06072019.pdf',
         '2019/08072019.pdf',
         '2019/09072019.pdf',
         '2019/10072019.pdf',
         '2019/11072019.pdf',
         '2019/12072019.pdf',
         '2019/13072019.pdf',
         '2019/15072019.pdf',
         '2019/16072019.pdf',
         '2019/17072019.pdf',
         '2019/18072019.pdf',
         '2019/19072019.pdf',
         '2019/20072019.pdf',
         '2019/22072019.pdf',
         '2019/23072019.pdf',
         '2019/24072019.pdf',
         '2019/25072019.pdf',
         '2019/26072019.pdf',
         '2019/27072019.pdf',
         '2019/29072019.pdf',
         '30072019.pdf',
         '2019/31072019.pdf',
         '2019/01082019.pdf',
         '2019/02082019.pdf',
         '2019/03082019.pdf',
         '2019/05082019.pdf',
         '2019/06082019.pdf',
         '2019/07082019.pdf',
         '2019/08082019.pdf',
         '2019/09082019.pdf',
         '2019/10082019.pdf',
         '2019/12082019.pdf',
         '2019/13082019.pdf',
         '2019/14082019.pdf',
         '2019/16082019.pdf',
         '2019/17082019.pdf',
         '2019/19082019.pdf',
         '2019/20082019.pdf',
         '2019/21082019.pdf',
         '2019/22082019.pdf',
         '2019/23082019.pdf',
         '2019/24092019.pdf',
         '2019/26092019.pdf',
         '2019/27082019.PDF',
         '2019/28082019.pdf',
         '2019.29082019.pdf',
         '2019/30082019.pdf',
         '2019/31082019.pdf',
         '2019/02092019.pdf',
         '2019/03092019.pdf',
         '2019/04092019.pdf',
         '2019/05092019.pdf',
         '2019/06092019.pdf',
         '2019/07092019.pdf',
         '2019/09092019.pdf',
         '2019/10092019.pdf',
         '2019/11092019.pdf',
         '2019/12092019.pdf',
         '2019/13092019.pdf',
         '2019/14092019.pdf',
         '2019/16092019.pdf',
         '2019/17092019.pdf',
         '2019/18092019.pdf',
         '2019/19092019.pdf',
         '2019/20092019.pdf',
         '2019/21092019.pdf',
         '2019/23092019.pdf',
         '2019/24092019.pdf',
         '2019/25092019.pdf',
         '2019/26092019.pdf',
         '2019/27092019.pdf',
         '2019/28092019.pdf',
         '2019/30092019.pdf',
         '2019/01102019.pdf',
         '2019/03102019.pdf',
         '2019/04102019.pdf',
         '2019/02102019.pdf',
         '2019/07102019.pdf',
         '2019/08102019.pdf',
         '2019/09102019.pdf',
         '2019/10102019.pdf',
         '2019/11102019.pdf',
         '2019/12102019.pdf',
         '2019/14102019.pdf',
         '2019/15102019.pdf',
         '2019/16102019.PDF',
         '2019/17102019.pdf',
         '2019/18102019.pdf',
         '2019/19102019.pdf',
         '2019/21102019.pdf',
         '2019/22102019.pdf',
         '2019/23102019.pdf',
         '2019/24102019.pdf',
         '2019/25102019.pdf',
         '2019/26102019.pdf',
         '2018/28102019.pdf',
         '2019/29102019.pdf',
         '2019/30102019.pdf',
         '2019/31102019.pdf',
         '2019/01112019.pdf',
         '2019/02112019.pdf',
         '2019/04112019.pdf',
         '2019/05112019.pdf',
         '2019/06112019.pdf',
         '2019/07112019.pdf',
         '2019/08112019.pdf',
         '2019/09112019.pdf',
         '2019/11112019.pdf',
         '2019/12112019.pdf',
         '2019/13112019.pdf',
         '2019/14112019.pdf',
         '2019/15112019.pdf',
         '2019/16112019.pdf',
         '2019/18112019.pdf',
         '2019/19112019.pdf',
         '2019/20112019.pdf',
         '2019/21112019.pdf',
         '2019/22112019.pdf',
         '2019/23112019.pdf',
         '2019/25112019.pdf',
         '2019/26112019.pdf',
         '2019/27112019.pdf',
         '2019/28112019.pdf',
         '2019/29112019.pdf',
         '2019/30112019.pdf',
         '2019/02122019.pdf',
         '2019/03122019.pdf',
         '2019/04122019.pdf',
         '2019/05122019.pdf',
         '2019/06122019.pdf',
         '2019/07122019.pdf',
         '2019/09122019.pdf',
         '2019/10122019.pdf',
         '2019/11122019.pdf',
         '2019/12122019.pdf',
         '2019/13122019.pdf',
         '2019/14122019.pdf',
         '2019/16122019.pdf',
         '2019/17122019.pdf',
         '2019/18122019.pdf',
         '2019/19122019.pdf',
         '2019/20122018.pdf',
         '2019/21122019.pdf',
         '2019/23122019.pdf',
         '2019/24122019.pdf',
         '2019/25122019.pdf',
         '2019/26122019.pdf',
         '2019/27122019.pdf',
         '2019/28122019.pdf',
         '2019/30122019.pdf',
         '2019/31122019.pdf']
list_2019 = [item for item in list_2019 if item[7:9] == "06"]

In [1]:
list_2018 = ['2018/01012018.pdf',
 '2018/02012018.pdf',
 '2018/03012018.pdf',
 '2018/04012018..pdf',
 '2018/05012018.pdf',
 '2018/06012018.pdf',
 '2018/08012018.pdf',
 '2018/09012018.pdf',
 '2018/10012018.pdf',
 '2018/11012018.pdf',
 '2018/12012018.pdf',
 '2018/13012018.pdf',
 '2018/15012018.pdf',
 '2018/16012018.pdf',
 '2018/17012018.pdf',
 '2018/18012018.pdf',
 '2018/19012018.pdf',
 '2018/20012018.pdf',
 '2018/22012018.pdf',
 '2018/23012018.pdf',
 '2018/24012018.pdf',
 '2018/25012018.pdf',
 '2018/27012018.pdf',
 '2018/29012018.pdf',
 '2018/30012018.pdf',
 '2018/31012018.pdf',
 '2018/01022018.pdf',
 '2018/02022018.pdf',
 '2018/03022018.pdf',
 '2018/05022018.pdf',
 '2018/06022018.pdf',
 '2018/07022018.pdf',
 '2018/08022018.pdf',
 '2018/09022018.pdf',
 '2018/10022018.pdf',
 '2018/12022018.pdf',
 '2018/13022018.pdf',
 '2018/14022018.pdf',
 '2018/15022018.pdf',
 '2018/16022018.pdf',
 '2018/17022018.pdf',
 '2018/19022018.pdf',
 '2018/20022018.pdf',
 '2018/21022018.pdf',
 '2018/22022018.pdf',
 '2018/23022018.pdf',
 '2018/24022018.pdf',
 '2018/26022018.pdf',
 '2018/27022018.pdf',
 '2018/28022018.pdf',
 '2018/01032018.pdf',
 '2018/03032018.pdf',
 '2018/05032018.pdf',
 '2018/06032018.pdf',
 '2018/07032018.pdf',
 '2018/08032018.pdf',
 '2018/09032018.pdf',
 '2018/10032018.pdf',
 '2018/12032018.pdf',
 '2018/13032018.pdf',
 '2018/14032018.pdf',
 '2018/15032018.pdf',
 '2018/16032018.pdf',
 '2018/17032018.pdf',
 '2018/19032018.pdf',
 '2018/20032018.pdf',
 '2018/21032018.pdf',
 '2018/22032018.pdf',
 '2018/23032018.pdf',
 '2018/24032018.pdf',
 '2018/26032018.pdf',
 '2018/27032018.pdf',
 '2018/28032018.pdf',
 '2018/29032018.pdf',
 '2018/30032018.pdf',
 '2018/31032018.pdf',
 '2018/02042018.pdf',
 '2018/03042018.pdf',
 '2018/04042018.pdf',
 '2018/05042018.pdf',
 '2018/06042018.pdf',
 '2018/07042018.pdf',
 '2018/09042018.pdf',
 '2018.10042018.pdf',
 '2018/11042018.pdf',
 '2018/12042018.pdf',
 '2018/13042018.pdf',
 '2018/14042018.pdf',
 '2018/16042018.pdf',
 '2018/17042018.pdf',
 '2018/18042018.pdf',
 '2018/19042018.pdf',
 '2018/20042018.pdf',
 '2018/21042018.pdf',
 '2018/23042018.pdf',
 '2018/24042018.pdf',
 '2018/25042018.pdf',
 '2018/26042018.pdf',
 '2018/27042018.pdf',
 '2018/28042018.pdf',
 '2018/30042018.pdf',
 '018/01052018.pdf',
 '2018/02052018.pdf',
 '2018/03052018.pdf',
 '2018/04052018.pdf',
 '2018/05052018.pdf',
 '2018/07052018.PDF',
 '2018/08052018.pdf',
 '2018/09052018.pdf',
 '2018/10052018.PDF',
 '2018/11052018.pdf',
 '2018/12052018.pdf',
 '2018/14052018.pdf',
 '2018/15052018.pdf',
 '2018/16052018.pdf',
 '2018/17052018.pdf',
 '2018/18052018.pdf',
 '2018/19052018.pdf',
 '2018/21052018.pdf',
 '2018/22052018.pdf',
 '2018/23052018.pdf',
 '2018/25052018.pdf',
 '2018/25052018.pdf',
 '2018/26052018.pdf',
 '2018/28052018.pdf',
 '2018/29052018.pdf',
 '2018/30052018.pdf',
 '2018/31052018.pdf',
 '2018/01062018.pdf',
 '2018/02062018.pdf',
 '2018/04062018.pdf',
 '2018/05062018.pdf',
 '2018/06062018.pdf',
 '2018/07062018.pdf',
 '2018/08062018.pdf',
 '2018/11062018.pdf',
 '2018/12062018.pdf',
 '2018/13062018.pdf',
 '2018/14062018.pdf',
 '2018/15062018.pdf',
 '2018/16062018.pdf',
 '2018/18062018.pdf',
 '2018/19062018.pdf',
 '2018/20062018.pdf',
 '2018/22062018.pdf',
 '2018/23062018.pdf',
 '2018/25062018.pdf',
 '2018/26062018.pdf',
 '2018/27062018.pdf',
 '2018/28062018.pdf',
 '2018/29062018.pdf',
 '2018/30062018.pdf',
 '2018/02072018.pdf',
 '2018/03072018.pdf',
 '2018/04072018.pdf',
 '2018/05072018.pdf',
 '2018/06072018.pdf',
 '2018/07072018.pdf',
 '2018/09072018.pdf',
 '2018/10072018.PDF',
 '2018/11072018.pdf',
 '2018/12072018.pdf',
 '2018/13072018.pdf',
 '2018/14072018.pdf',
 '2018/16072018.pdf',
 '2018/17072018.pdf',
 '2018/18072018.pdf',
 '2018/19072018.pdf',
 '2018/20072018.pdf',
 '2018/21072018.pdf',
 '2018/23072018.pdf',
 '2018/24072018.pdf',
 '2018/25072018.pdf',
 '2018/26072018.pdf',
 '2018/27072018.pdf',
 '2018/28072018.pdf',
 '2018/30072018.pdf',
 '2018/31072018.pdf',
 '2018/01082018.pdf',
 '2018/02082018.pdf',
 '2018/03082018.pdf',
 '2018/04082018.pdf',
 '2018/06082018.pdf',
 '2018/07082018.pdf',
 '2018/08082018.pdf',
 '2018/09082018',
 '2018/10082018.pdf',
 '2018/11082018.pdf',
 '2018/13082018.pdf',
 '2018/14082018.pdf',
 '2018/16082018.pdf',
 '2018/17082018.pdf',
 '2018/18082018.pdf',
 '2018/20082018.pdf',
 '2018/21082018.pdf',
 '2018/22082018.pdf',
 '2018/23082018.pdf',
 '2018/24082018.pdf',
 '2018/25082018.pdf',
 '2018/27082018.pdf',
 '2018/28082018.pdf',
 '2018/29082018.pdf',
 '2018/30082018.pdf',
 '2018/31082018.pdf',
 '2018/01092018.pdf',
 '2018/03092018.pdf',
 '2018/04092018.pdf',
 '2018/05092018.pdf',
 '2018/06092018.pdf',
 '2018/07092018.pdf',
 '2018/08092018.pdf',
 '2018/10092018.pdf',
 '2018/11092018.pdf',
 '2018/12092018.pdf',
 '2018/13092018.pdf',
 '2018/14092018.pdf',
 '2018/15092018.pdf',
 '2018/17092018.pdf',
 '2018/18092018.pdf',
 '2018/19082018.pdf',
 '2018/20082018.pdf',
 '2018/21092018.pdf',
 '2018/22092018.pdf',
 '2018/24092018.pdf',
 '2018/25092018.pdf',
 '2018/26092018.pdf',
 '2018/27092018.pdf',
 '2018/28092018.pdf',
 '2018/29092018.pdf',
 '2018/01102018.pdf',
 '2018/03102018.pdf',
 '2018/04102018.pdf',
 '2018/05102018.pdf',
 '2018/06102018.pdf',
 '2018/08102018.pdf',
 '2018/09102018.pdf',
 '2018/10102018.pdf',
 '2018/11102018.pdf',
 '2018/12102018.pdf',
 '2018/13102018.pdf',
 '2018/15102018.pdf',
 '2018/16102018.pdf',
 '2018/17102018.pdf',
 '2018/18102018.pdf',
 '2018/19102018.pdf',
 '2018/20102018.pdf',
 '2018/22102018.pdf',
 '2018/23102018.pdf',
 '2018/24102018.pdf',
 '2018/25102018.pdf',
 '2018/26102018.pdf',
 '2018/27102018.pdf',
 '2018/29102018.pdf',
 '2018/30102018.pdf',
 '2018/31102018.pdf',
 '2018/01112018.pdf',
 '2018/02112018.pdf',
 '2018/03112018.pdf',
 '2018/05112018.pdf',
 '2018/06112018.pdf',
 '2018/07112018.pdf',
 '2018/08112018.pdf',
 '2018/09112018.pdf',
 '2018/10112018.pdf',
 '2018/12112018.pdf',
 '2018/13112018.pdf',
 '2018/14112018.pdf',
 '2018/15112018.pdf',
 '2018/16112018.pdf',
 '2018/17112018.pdf',
 '2018/19112018.pdf',
 '2018/20112018.pdf',
 '2018/21112018.pdf',
 '2018/22112018.pdf',
 '2018/23112018.pdf',
 '2018/24112018.pdf',
 '2018/26112018.pdf',
 '2018/27112018.pdf',
 '2018/28112018.pdf',
 '2018/29112018.pdf',
 '2018/30112018.pdf',
 '2018/01122018.pdf',
 '2018/03122018.pdf',
 '2018/04122018.PDF',
 '2018/05122018.pdf',
 '2018/06122018.pdf',
 '2018/07122018.pdf',
 '2018/08122018.pdf',
 '2018/10122018.pdf',
 '2018/11122018.pdf',
 '2018/12122018.pdf',
 '2018/13122018.pdf',
 '2018/14122018.pdf',
 '2018/15122018.pdf',
 '2018/17122018.pdf',
 '2018/18122018.pdf',
 '2018/19122018.pdf',
 '2018/20122018.pdf',
 '2018/21122018.pdf',
 '2018/22122018.pdf',
 '2018/24122018.pdf',
 '2018/25122018.pdf',
 '2018/26122018.pdf',
 '2018/27122018.pdf',
 '2018/28122018.pdf',
 '2018/29122018.pdf',
 '2018/31122018.pdf']
list_2018 = [item for item in list_2018 if item[7:9] == "06"]

In [66]:
list_2019

['2019/01062019.pdf',
 '2019/03062019.pdf',
 '2019/04062019.pdf',
 '2019/05062019.pdf',
 '2019/06062019.pdf',
 '2019/07062019.pdf',
 '2019/08062019.pdf',
 '2019/10062019.pdf',
 '2019/11062019.pdf',
 '2019/12062019.pdf',
 '2019/13062019.pdf',
 '2019/14062019.pdf',
 '2019/15062019.pdf',
 '2019/17062019.pdf',
 '2019/18062019.pdf',
 '2019/19062019.pdf',
 '2019/20062019.pdf',
 '2019/21062019.pdf',
 '2019/22062019.pdf',
 '2019/24062019.pdf',
 '2019/25062019.pdf',
 '2019/26062019.pdf',
 '2019/27062019.pdf',
 '2019/28062019.pdf',
 '2019/29062019.pdf']

In [2]:
import pandas as pd
import numpy as np 
import camelot

In [5]:
tables = camelot.read_pdf("2018/30062018.pdf", pages="all")

In [6]:
dff = tables[3].df
dff

,0,1,2,3,4,5,6,7,8,9,10
0,Sl,NAME OF THE,ARRIVAL,VARIETY,WEIGHT \nTYPE OF,,,GRADE,Wholesale Prices,,
1,NO. COMM. & STATE,,IN TONS,,IN KG.\nPACKING,,,SIZE,MINI,MAXI,MODAL
2,,,,,1\nKG LOOSE,,,B,4,6,5
3,,,,,VEGETABLES,,,,,,
4,1,POTATO,1030.8,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
67,,,,,1,KG LOOSE,,B,30,35,32
68,19,CHOLAI,3.5,,,,,,,,
69,,LOC,,,1,KG LOOSE,,,6,12,10
70,20,CUCUMBER,197.1,,,,,,,,
71,,UP/KANPUR/HR/RAJ/WB/RAIPUR,,DESI/RAIPUR,1,KG LOOSE,,A,25,35,30

In [3]:
def getdf(list):
    df = pd.DataFrame(columns=['S', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG', 'KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE', 'DATE'])
    for item in list:
        print(item)
        tables = camelot.read_pdf(item, pages="1-6")
        for i in range(6):
            if item != '2017/23062017.pdf' and item != '2017/24062017.pdf' and item != '2017/27062017.pdf':
                df1 = tables[i].df[10:] if i==0 else tables[i].df[2:]
                df1['DATE'] = item[5:13]
                df1.columns = ['S', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG', 'KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE', 'DATE']
                df = pd.concat([df,df1], axis=0)
            else: 
                df1 = tables[i].df[10:] if i==0 else tables[i].df[2:]
                df1['DATE'] = item[5:13]
                df1.columns = ['S', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG', 'KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE', 'ONE', 'TWO','DATE']
                df1.drop(['ONE', 'TWO'], axis=1)
                df = pd.concat([df,df1], axis=0)
    return df

In [4]:
df = getdf(list_2017)

2017/01062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/02062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/03062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/05062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/06062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/07062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/08062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/09062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/10062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/12062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/13062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/14062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/15062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/16062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/17062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/19062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/20062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/21062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/22062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/23062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2017/24062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2017/26062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/27062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2017/28062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/29062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2017/30062017.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [5]:
df

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE,ONE,TWO
10,NO. COMM. & STATE,,IN TONS,,IN KG.,,PACKING,SIZE,MINI,MAXI,MODAL,01062017,NaN,NaN
11,1,APPLE,157.7,,,,,,,,,01062017,NaN,NaN
12,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,850,950,900,01062017,NaN,NaN
13,,,,,10,KG. C.BOX,,B,650,1050,750,01062017,NaN,NaN
14,,HP/KULLU(CS),,,20,KG. C.BOX,,A,1250,1400,1300,01062017,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,29 KACHARI,,1.2,,,,,,,,,30062017,NaN,NaN
51,,HAR/LOC,,,20,KG BOX,,A,150,250,200,30062017,NaN,NaN
52,,,,,20,KG BOX,,B,100,140,120,30062017,NaN,NaN
53,30 KACHALU,,2,,,,,,,,,30062017,NaN,NaN
54,,UP/,,,50,KG. BAG,,,450,500,480,30062017,NaN,NaN

In [6]:
df = df[1:]

In [7]:
df = df.reset_index(drop=True)

In [8]:
df

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE,ONE,TWO
0,1,APPLE,157.7,,,,,,,,,01062017,NaN,NaN
1,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,850,950,900,01062017,NaN,NaN
2,,,,,10,KG. C.BOX,,B,650,1050,750,01062017,NaN,NaN
3,,HP/KULLU(CS),,,20,KG. C.BOX,,A,1250,1400,1300,01062017,NaN,NaN
4,,,,,20,KG. C.BOX,,B,1050,1200,1100,01062017,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8978,29 KACHARI,,1.2,,,,,,,,,30062017,NaN,NaN
8979,,HAR/LOC,,,20,KG BOX,,A,150,250,200,30062017,NaN,NaN
8980,,,,,20,KG BOX,,B,100,140,120,30062017,NaN,NaN
8981,30 KACHALU,,2,,,,,,,,,30062017,NaN,NaN
8982,,UP/,,,50,KG. BAG,,,450,500,480,30062017,NaN,NaN

In [9]:
df.to_excel("june2017.xlsx")

In [73]:
dff = df.index[df['NAME'] == 'APPLE']

In [10]:
dff2 = df.index[df['S']=='1']

In [75]:
dff3 = df.index[df['WEIGHT_IN_KG'] == 'VEGETABLES']

In [11]:
last = df.tail(1).index
last

RangeIndex(start=8982, stop=8983, step=1)

In [12]:
dff2 = dff2.append(last)

In [13]:
dff2

Int64Index([   0,  204,  352,  556,  704,  908, 1056, 1261, 1408, 1613, 1760,
            1965, 2112, 2313, 2464, 2667, 2816, 3010, 3168, 3366, 3520, 3722,
            3872, 4074, 4224, 4426, 4576, 4775, 4928, 5141, 5280, 5497, 5632,
            5849, 5984, 6191, 6336, 6543, 6646, 6851, 6998, 7203, 7350, 7547,
            7702, 7893, 8054, 8233, 8364, 8553, 8674, 8865, 8982],
           dtype='int64')

In [79]:
dffruits = df[dff2[1]:dff2[2]]
dfveggies = df[dff2[-2]:dff2[-1]]
dfveggies

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE
9044,1,POTATO,1128.8,,,,,,,,,29062019
9045,,UP(CS),,,50,KG,BAG,A,380,450,400,29062019
9046,,,,,50,KG,BAG,B,300,360,325,29062019
9047,,PUN/ HAR,,,50,KG,BAG,A,240,350,300,29062019
9048,,,,,50,KG,BAG,B,150,225,180,29062019
...,...,...,...,...,...,...,...,...,...,...,...,...
9218,,,,,1,KG,LOOSE,B,3,5,4,29062019
9219,53,RADISH,8.9,,,,,,,,,29062019
9220,,LOC/HAR/UP,,,40,KG.,BUN,A,400,450,420,29062019
9221,,,,,40,KG.,BUN,B,340,380,360,29062019
9222,,,,,40,KG.,BUN,C,200,280,240,29062019

In [14]:
df_fruits = pd.DataFrame(columns=['S', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG', 'KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE'])
df_vegetables = pd.DataFrame(columns=['S', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG', 'KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE'])

In [15]:
for j in range(0, len(dff2)-1, 2):
    df_fruits1 = df[dff2[j]:dff2[j+1]]
    print(df_fruits1)
    df_fruits = pd.concat([df_fruits, df_fruits1], axis=0)

                  S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
0                 1           APPLE           157.7
1                    HP/KINNAUR(CS)                  ROYAL DEL.           10
2                                                                         10
3                      HP/KULLU(CS)                                       20
4                                                                         20
..              ...             ...             ...         ...          ...
199                           UP/HR                                      100
200  25 WATER MELON                          1054.2
201                   RAJ/UP/HR/LOC                        ARUN            1
202                                                                        1
203                                                               VEGETABLES

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
0
1    KG. C.BOX                          A       850       950         900
2    KG. C.BOX                          B       650      1050         750
3    KG. C.BOX                          A      1250      1400        1300
4    KG. C.BOX                          B      1050      1200        1100
..         ...          ...           ...       ...       ...         ...
199  KG. LOOSE                                  500       700         600
200
201   KG LOOSE                          A         4         5           4
202   KG LOOSE                          B         2         3           2
203

         DATE  ONE  TWO
0    01062017  NaN  NaN
1    01062017  NaN  NaN
2    01062017  NaN  NaN
3    01062017  NaN  NaN
4    01062017  NaN  NaN
..        ...  ...  ...
199  01062017  NaN  NaN
200  01062017  NaN  NaN
201  01062017  NaN  NaN
202  01062017  NaN  NaN
203  01062017  NaN  NaN

[204 rows x 14 columns]
                  S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
352               1     APPLE\n97.5
353                  HP/KINNAUR(CS)                  ROYAL DEL.           10
354                                                                       10
355                    HP/KULLU(CS)                                       20
356                                                                       20
..              ...             ...             ...         ...          ...
551                           UP/HR                                      100
552  25 WATER MELON                           852.3
553                   RAJ/UP/HR/LOC                        ARUN            1
554                                                                        1
555                                                               VEGETABLES

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
352
353  KG. C.BOX                          A       850       950         900
354  KG. C.BOX                          B       650      1050         750
355  KG. C.BOX                          A      1250      1400        1300
356  KG. C.BOX                          B      1050      1200        1100
..         ...          ...           ...       ...       ...         ...
551  KG. LOOSE                                  500       700         600
552
553   KG LOOSE                          A         4         5           4
554   KG LOOSE                          B         2         3           2
555

         DATE  ONE  TWO
352  02062017  NaN  NaN
353  02062017  NaN  NaN
354  02062017  NaN  NaN
355  02062017  NaN  NaN
356  02062017  NaN  NaN
..        ...  ...  ...
551  02062017  NaN  NaN
552  02062017  NaN  NaN
553  02062017  NaN  NaN
554  02062017  NaN  NaN
555  02062017  NaN  NaN

[204 rows x 14 columns]
                  S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
704               1           APPLE            77.3
705                  HP/KINNAUR(CS)                  ROYAL DEL.           10
706                                                                       10
707                    HP/KULLU(CS)                                       20
708                                                                       20
..              ...             ...             ...         ...          ...
903                           UP/HR                                      100
904  25 WATER MELON                           675.9
905                   RAJ/UP/HR/LOC                        ARUN            1
906                                                                        1
907                                                               VEGETABLES

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
704
705  KG. C.BOX                          A       850       950         900
706  KG. C.BOX                          B       650      1050         750
707  KG. C.BOX                          A      1250      1400        1300
708  KG. C.BOX                          B      1050      1200        1100
..         ...          ...           ...       ...       ...         ...
903  KG. LOOSE                                  450       650         550
904
905   KG LOOSE                          A         4         5           4
906   KG LOOSE                          B         2         3           2
907

         DATE  ONE  TWO
704  03062017  NaN  NaN
705  03062017  NaN  NaN
706  03062017  NaN  NaN
707  03062017  NaN  NaN
708  03062017  NaN  NaN
..        ...  ...  ...
903  03062017  NaN  NaN
904  03062017  NaN  NaN
905  03062017  NaN  NaN
906  03062017  NaN  NaN
907  03062017  NaN  NaN

[204 rows x 14 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
1056               1           APPLE               9
1057                  HP/KINNAUR(CS)                  ROYAL DEL.           10
1058                                                                       10
1059                    HP/KULLU(CS)                                       20
1060                                                                       20
...              ...             ...             ...         ...          ...
1256              25       SUGERCANE              40
1257                           UP/HR                                      100
1258  26 WATER MELON                            78.5
1259                   RAJ/UP/HR/LOC                        ARUN            1
1260                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1056
1057  KG. C.BOX                          A       850       950         900
1058  KG. C.BOX                          B       650      1050         750
1059  KG. C.BOX                          A      1250      1400        1300
1060  KG. C.BOX                          B      1050      1200        1100
...         ...          ...           ...       ...       ...         ...
1256
1257  KG. LOOSE                                  500       700         600
1258
1259   KG LOOSE                          A         3         5           4
1260

          DATE  ONE  TWO
1056  05062017  NaN  NaN
1057  05062017  NaN  NaN
1058  05062017  NaN  NaN
1059  05062017  NaN  NaN
1060  05062017  NaN  NaN
...        ...  ...  ...
1256  05062017  NaN  NaN
1257  05062017  NaN  NaN
1258  05062017  NaN  NaN
1259  05062017  NaN  NaN
1260  05062017  NaN  NaN

[205 rows x 14 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
1408               1           APPLE             178
1409                  HP/KINNAUR(CS)                  ROYAL DEL.           10
1410                                                                       10
1411                    HP/KULLU(CS)                                       20
1412                                                                       20
...              ...             ...             ...         ...          ...
1608              25       SUGERCANE           145.1
1609                           UP/HR                                      100
1610  26 WATER MELON                           627.3
1611                   RAJ/UP/HR/LOC                        ARUN            1
1612                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1408
1409  KG. C.BOX                          A       850       950         900
1410  KG. C.BOX                          B       650      1050         750
1411  KG. C.BOX                          A      1250      1400        1300
1412  KG. C.BOX                          B      1050      1200        1100
...         ...          ...           ...       ...       ...         ...
1608
1609  KG. LOOSE                                  500       700         600
1610
1611   KG LOOSE                          A         3         5           4
1612

          DATE  ONE  TWO
1408  06062017  NaN  NaN
1409  06062017  NaN  NaN
1410  06062017  NaN  NaN
1411  06062017  NaN  NaN
1412  06062017  NaN  NaN
...        ...  ...  ...
1608  06062017  NaN  NaN
1609  06062017  NaN  NaN
1610  06062017  NaN  NaN
1611  06062017  NaN  NaN
1612  06062017  NaN  NaN

[205 rows x 14 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
1760               1           APPLE            86.3
1761                  HP/KINNAUR(CS)                  ROYAL DEL.           10
1762                                                                       10
1763                    HP/KULLU(CS)                                       20
1764                                                                       20
...              ...             ...             ...         ...          ...
1960              25       SUGERCANE              63
1961                           UP/HR                                      100
1962  26 WATER MELON                           796.8
1963                   RAJ/UP/HR/LOC                        ARUN            1
1964                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1760
1761  KG. C.BOX                          A       850       950         900
1762  KG. C.BOX                          B       650      1050         750
1763  KG. C.BOX                          A      1250      1400        1300
1764  KG. C.BOX                          B      1050      1200        1100
...         ...          ...           ...       ...       ...         ...
1960
1961  KG. LOOSE                                  500       700         600
1962
1963   KG LOOSE                          A         3         5           4
1964

          DATE  ONE  TWO
1760  07062017  NaN  NaN
1761  07062017  NaN  NaN
1762  07062017  NaN  NaN
1763  07062017  NaN  NaN
1764  07062017  NaN  NaN
...        ...  ...  ...
1960  07062017  NaN  NaN
1961  07062017  NaN  NaN
1962  07062017  NaN  NaN
1963  07062017  NaN  NaN
1964  07062017  NaN  NaN

[205 rows x 14 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
2112               1           APPLE           113.2
2113                  HP/KINNAUR(CS)                  ROYAL DEL.           10
2114                                                                       10
2115                    HP/KULLU(CS)                                       20
2116                                                                       20
...              ...             ...             ...         ...          ...
2308              25       SUGERCANE            85.7
2309                           UP/HR                                      100
2310  26 WATER MELON                           931.8
2311                   RAJ/UP/HR/LOC                        ARUN            1
2312                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2112
2113  KG. C.BOX                          A       850       950         900
2114  KG. C.BOX                          B       650      1050         750
2115  KG. C.BOX                          A      1250      1400        1300
2116  KG. C.BOX                          B      1050      1200        1100
...         ...          ...           ...       ...       ...         ...
2308
2309  KG. LOOSE                                  500       700         600
2310
2311   KG LOOSE                          A         4         6           5
2312

          DATE  ONE  TWO
2112  08062017  NaN  NaN
2113  08062017  NaN  NaN
2114  08062017  NaN  NaN
2115  08062017  NaN  NaN
2116  08062017  NaN  NaN
...        ...  ...  ...
2308  08062017  NaN  NaN
2309  08062017  NaN  NaN
2310  08062017  NaN  NaN
2311  08062017  NaN  NaN
2312  08062017  NaN  NaN

[201 rows x 14 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
2464               1           APPLE            88.1
2465                  HP/KINNAUR(CS)                  ROYAL DEL.           10
2466                                                                       10
2467                    HP/KULLU(CS)                                       20
2468                                                                       20
...              ...             ...             ...         ...          ...
2662                           UP/HR                                      100
2663  26 WATER MELON                           626.4
2664                   RAJ/UP/HR/LOC                        ARUN            1
2665                                                                        1
2666                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2464
2465  KG. C.BOX                          A       850       950         900
2466  KG. C.BOX                          B       650      1050         750
2467  KG. C.BOX                          A      1250      1400        1300
2468  KG. C.BOX                          B      1050      1200        1100
...         ...          ...           ...       ...       ...         ...
2662  KG. LOOSE                                  500       700         600
2663
2664   KG LOOSE                          A         5         6           6
2665   KG LOOSE                          B         3         5           4
2666

          DATE  ONE  TWO
2464  09062017  NaN  NaN
2465  09062017  NaN  NaN
2466  09062017  NaN  NaN
2467  09062017  NaN  NaN
2468  09062017  NaN  NaN
...        ...  ...  ...
2662  09062017  NaN  NaN
2663  09062017  NaN  NaN
2664  09062017  NaN  NaN
2665  09062017  NaN  NaN
2666  09062017  NaN  NaN

[203 rows x 14 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
2816               1           APPLE           142.3
2817                  HP/KINNAUR(CS)                  ROYAL DEL.           10
2818                                                                       10
2819                    HP/KULLU(CS)                                       20
2820                                                                       20
...              ...             ...             ...         ...          ...
3005                           UP/HR                                      100
3006  26 WATER MELON                           971.9
3007                   RAJ/UP/HR/LOC                        ARUN            1
3008                                                                        1
3009                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2816
2817  KG. C.BOX                          A       850       950         900
2818  KG. C.BOX                          B       650      1050         750
2819  KG. C.BOX                          A      1250      1400        1300
2820  KG. C.BOX                          B      1050      1200        1100
...         ...          ...           ...       ...       ...         ...
3005  KG. LOOSE                                  500       700         600
3006
3007   KG LOOSE                          A         5         6           6
3008   KG LOOSE                          B         3         5           4
3009

          DATE  ONE  TWO
2816  10062017  NaN  NaN
2817  10062017  NaN  NaN
2818  10062017  NaN  NaN
2819  10062017  NaN  NaN
2820  10062017  NaN  NaN
...        ...  ...  ...
3005  10062017  NaN  NaN
3006  10062017  NaN  NaN
3007  10062017  NaN  NaN
3008  10062017  NaN  NaN
3009  10062017  NaN  NaN

[194 rows x 14 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
3168               1           APPLE            87.8
3169                  HP/KINNAUR(CS)                  ROYAL DEL.           10
3170                                                                       10
3171                    HP/KULLU(CS)                                       20
3172                                                                       20
...              ...             ...             ...         ...          ...
3361                           UP/HR                                      100
3362  26 WATER MELON                           229.6
3363                   RAJ/UP/HR/LOC                        ARUN            1
3364                                                                        1
3365                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
3168
3169  KG. C.BOX                          A       610       700         650
3170  KG. C.BOX                          B       500       600         550
3171  KG. C.BOX                          A       875      1000         925
3172  KG. C.BOX                          B       800       860         825
...         ...          ...           ...       ...       ...         ...
3361  KG. LOOSE                                  500       700         600
3362
3363   KG LOOSE                          A         5         6           6
3364   KG LOOSE                          B         3         5           4
3365

          DATE  ONE  TWO
3168  12062017  NaN  NaN
3169  12062017  NaN  NaN
3170  12062017  NaN  NaN
3171  12062017  NaN  NaN
3172  12062017  NaN  NaN
...        ...  ...  ...
3361  12062017  NaN  NaN
3362  12062017  NaN  NaN
3363  12062017  NaN  NaN
3364  12062017  NaN  NaN
3365  12062017  NaN  NaN

[198 rows x 14 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
3520               1           APPLE           132.2
3521                  HP/KINNAUR(CS)                  ROYAL DEL.           10
3522                                                                       10
3523                    HP/KULLU(CS)                                       20
3524                                                                       20
...              ...             ...             ...         ...          ...
3717                           UP/HR                                      100
3718  26 WATER MELON                          1319.9
3719                   RAJ/UP/HR/LOC                        ARUN            1
3720                                                                        1
3721                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
3520
3521  KG. C.BOX                          A       700       800         750
3522  KG. C.BOX                          B       550       650         600
3523  KG. C.BOX                          A       875      1000         925
3524  KG. C.BOX                          B       800       860         825
...         ...          ...           ...       ...       ...         ...

[191 rows x 14 columns]

In [16]:
for j in range(1, len(dff2)-1, 2):
    df_veg1 = df[dff2[j]:dff2[j+1]]
    print(df_veg1)
    df_vegetables = pd.concat([df_vegetables, df_veg1], axis=0)

                     S        NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
204                  1      POTATO           938.9
205                     UP/AGRA/CS                                   50
206                                                                  50
207                        PUN/GUJ                    L.R.           50
208                                                                  50
..                 ...         ...             ...     ...          ...
347                                                                  40
348       41 G.LOBHIYA                         6.4
349                             WB                                   20
350                                                                  20
351  NO. COMM. & STATE     IN TONS                               IN KG.

           KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
204
205    KG BAG                          A       240       300         265
206    KG BAG                          B       200       230         210
207    KG BAG                          A       250       300         280
208    KG BAG                          B       200       240         225
..        ...          ...           ...       ...       ...         ...
347   KG. BUN                          B       500       580         550
348
349  KG KATTA                          A       300       400         350
350  KG KATTA                          B       200       280         250
351                PACKING          SIZE      MINI      MAXI       MODAL

         DATE  ONE  TWO
204  01062017  NaN  NaN
205  01062017  NaN  NaN
206  01062017  NaN  NaN
207  01062017  NaN  NaN
208  01062017  NaN  NaN
..        ...  ...  ...
347  01062017  NaN  NaN
348  01062017  NaN  NaN
349  01062017  NaN  NaN
350  01062017  NaN  NaN
351  02062017  NaN  NaN

[148 rows x 14 columns]
                     S        NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
556                  1      POTATO          1024.2
557                     UP/AGRA/CS                                   50
558                                                                  50
559                        PUN/GUJ                    L.R.           50
560                                                                  50
..                 ...         ...             ...     ...          ...
699                                                                  40
700       41 G.LOBHIYA                         8.7
701                             WB                                   20
702                                                                  20
703  NO. COMM. & STATE                     IN TONS               IN KG.

           KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
556
557    KG BAG                          A       240       300         265
558    KG BAG                          B       200       230         210
559    KG BAG                          A       250       300         280
560    KG BAG                          B       200       240         225
..        ...          ...           ...       ...       ...         ...
699   KG. BUN                          B       500       580         550
700
701  KG KATTA                          A       300       400         350
702  KG KATTA                          B       200       280         250
703                PACKING          SIZE      MINI      MAXI       MODAL

         DATE  ONE  TWO
556  02062017  NaN  NaN
557  02062017  NaN  NaN
558  02062017  NaN  NaN
559  02062017  NaN  NaN
560  02062017  NaN  NaN
..        ...  ...  ...
699  02062017  NaN  NaN
700  02062017  NaN  NaN
701  02062017  NaN  NaN
702  02062017  NaN  NaN
703  03062017  NaN  NaN

[148 rows x 14 columns]
                      S        NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
908                   1      POTATO          1029.2
909                      UP/AGRA/CS                                   50
910                                                                   50
911                         PUN/GUJ                    L.R.           50
912                                                                   50
...                 ...         ...             ...     ...          ...
1051                            LOC                                   40
1052                                                                  40
1053       41 G.LOBHIYA                         7.4
1054                             WB                                   20
1055  NO. COMM. & STATE                     IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
908
909     KG BAG                          A       270       300         290
910     KG BAG                          B       240       260         250
911     KG BAG                          A       265       300         280
912     KG BAG                          B       250       260         255
...        ...          ...           ...       ...       ...         ...
1051   KG. BUN                          A       600       650         620
1052   KG. BUN                          B       500       580         550
1053
1054  KG KATTA                          A       300       400         350
1055                PACKING          SIZE      MINI      MAXI       MODAL

          DATE  ONE  TWO
908   03062017  NaN  NaN
909   03062017  NaN  NaN
910   03062017  NaN  NaN
911   03062017  NaN  NaN
912   03062017  NaN  NaN
...        ...  ...  ...
1051  03062017  NaN  NaN
1052  03062017  NaN  NaN
1053  03062017  NaN  NaN
1054  03062017  NaN  NaN
1055  05062017  NaN  NaN

[148 rows x 14 columns]
                      S        NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
1261                  1      POTATO            37.8
1262                     UP/AGRA/CS                                   50
1263                                                                  50
1264                        PUN/GUJ                    L.R.           50
1265                                                                  50
...                 ...         ...             ...     ...          ...
1403           40 KULFA
1404                            LOC                                   40
1405                                                                  40
1406       41 G.LOBHIYA                         4.2
1407  NO. COMM. & STATE                     IN TONS               IN KG.

           KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1261
1262   KG BAG                          A       270       300         290
1263   KG BAG                          B       240       260         250
1264   KG BAG                          A       265       300         280
1265   KG BAG                          B       250       260         255
...       ...          ...           ...       ...       ...         ...
1403
1404  KG. BUN                          A       500       550         520
1405  KG. BUN                          B       400       480         450
1406
1407               PACKING          SIZE      MINI      MAXI       MODAL

          DATE  ONE  TWO
1261  05062017  NaN  NaN
1262  05062017  NaN  NaN
1263  05062017  NaN  NaN
1264  05062017  NaN  NaN
1265  05062017  NaN  NaN
...        ...  ...  ...
1403  05062017  NaN  NaN
1404  05062017  NaN  NaN
1405  05062017  NaN  NaN
1406  05062017  NaN  NaN
1407  06062017  NaN  NaN

[147 rows x 14 columns]
                      S        NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
1613                  1      POTATO          1388.1
1614                     UP/AGRA/CS                                   50
1615                                                                  50
1616                        PUN/GUJ                    L.R.           50
1617                                                                  50
...                 ...         ...             ...     ...          ...
1755                                                                  40
1756           40 KULFA                         0.1
1757                            LOC                                   40
1758                                                                  40
1759  NO. COMM. & STATE                     IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1613
1614    KG BAG                          A       270       300         290
1615    KG BAG                          B       220       260         250
1616    KG BAG                          A       265       300         280
1617    KG BAG                          B       250       260         255
...        ...          ...           ...       ...       ...         ...
1755  KG LOOSE                          C       200       280         260
1756
1757   KG. BUN                          A       500       550         520
1758   KG. BUN                          B       400       480         450
1759                PACKING          SIZE      MINI      MAXI       MODAL

          DATE  ONE  TWO
1613  06062017  NaN  NaN
1614  06062017  NaN  NaN
1615  06062017  NaN  NaN
1616  06062017  NaN  NaN
1617  06062017  NaN  NaN
...        ...  ...  ...
1755  06062017  NaN  NaN
1756  06062017  NaN  NaN
1757  06062017  NaN  NaN
1758  06062017  NaN  NaN
1759  07062017  NaN  NaN

[147 rows x 14 columns]
                      S        NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
1965                  1      POTATO           996.1
1966                     UP/AGRA/CS                                   50
1967                                                                  50
1968                        PUN/GUJ                    L.R.           50
1969                                                                  50
...                 ...         ...             ...     ...          ...
2107                                                                  40
2108                                                                  40
2109           40 KULFA
2110                            LOC                                   40
2111  NO. COMM. & STATE                     IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1965
1966    KG BAG                          A       270       300         290
1967    KG BAG                          B       220       260         250
1968    KG BAG                          A       265       300         280
1969    KG BAG                          B       250       260         255
...        ...          ...           ...       ...       ...         ...
2107  KG LOOSE                          B       300       380         350
2108  KG LOOSE                          C       200       280         260
2109
2110   KG. BUN                          A       500       600         550
2111                PACKING          SIZE      MINI      MAXI       MODAL

          DATE  ONE  TWO
1965  07062017  NaN  NaN
1966  07062017  NaN  NaN
1967  07062017  NaN  NaN
1968  07062017  NaN  NaN
1969  07062017  NaN  NaN
...        ...  ...  ...
2107  07062017  NaN  NaN
2108  07062017  NaN  NaN
2109  07062017  NaN  NaN
2110  07062017  NaN  NaN
2111  08062017  NaN  NaN

[147 rows x 14 columns]
                      S        NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
2313                  1      POTATO          1232.5
2314                     UP/AGRA/CS                                   50
2315                                                                  50
2316                        PUN/GUJ                    L.R.           50
2317                                                                  50
...                 ...         ...             ...     ...          ...
2459                                                                  40
2460       41 G.LOBHIYA                          17
2461                             WB                                   20
2462                                                                  20
2463  NO. COMM. & STATE                     IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2313
2314    KG BAG                          A       270       300         290
2315    KG BAG                          B       220       260         250
2316    KG BAG                          A       265       300         280
2317    KG BAG                          B       250       260         255
...        ...          ...           ...       ...       ...         ...
2459   KG. BUN                          B       400       480         450
2460
2461  KG KATTA                          A       300       400         350
2462  KG KATTA                          B       200       280         250
2463                PACKING          SIZE      MINI      MAXI       MODAL

          DATE  ONE  TWO
2313  08062017  NaN  NaN
2314  08062017  NaN  NaN
2315  08062017  NaN  NaN
2316  08062017  NaN  NaN
2317  08062017  NaN  NaN
...        ...  ...  ...
2459  08062017  NaN  NaN
2460  08062017  NaN  NaN
2461  08062017  NaN  NaN
2462  08062017  NaN  NaN
2463  09062017  NaN  NaN

[151 rows x 14 columns]
                      S        NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
2667                  1      POTATO           873.9
2668                     UP/AGRA/CS                                   50
2669                                                                  50
2670                        PUN/GUJ                    L.R.           50
2671                                                                  50
...                 ...         ...             ...     ...          ...
2811           40 KULFA
2812                            LOC                                   40
2813                                                                  40
2814       41 G.LOBHIYA                         7.9
2815  NO. COMM. & STATE                     IN TONS               IN KG.

           KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2667
2668   KG BAG                          A       290       320         310
2669   KG BAG                          B       250       280         260
2670   KG BAG                          A       290       320         310
2671   KG BAG                          B       275       290         280
...       ...          ...           ...       ...       ...         ...
2811
2812  KG. BUN                          A       500       550         520
2813  KG. BUN                          B       400       480         450
2814
2815               PACKING          SIZE      MINI      MAXI       MODAL

          DATE  ONE  TWO
2667  09062017  NaN  NaN
2668  09062017  NaN  NaN
2669  09062017  NaN  NaN
2670  09062017  NaN  NaN
2671  09062017  NaN  NaN
...        ...  ...  ...
2811  09062017  NaN  NaN
2812  09062017  NaN  NaN
2813  09062017  NaN  NaN
2814  09062017  NaN  NaN
2815  10062017  NaN  NaN

[149 rows x 14 columns]
                      S            NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
3010                  1          POTATO          1118.5
3011                         UP/AGRA/CS                                   50
3012                                                                      50
3013                            PUN/GUJ                    L.R.           50
3014                                                                      50
...                 ...             ...             ...     ...          ...
3163                                                                      30
3164                 43  LEHSUA/LEHSODA
3165                             RAJ/WB                                    1
3166                 44           LEMON           405.3
3167  NO. COMM. & STATE                         IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
3010
3011    KG BAG                          A       290       320         310
3012    KG BAG                          B       250       280         260
3013    KG BAG                          A       290       320         310
3014    KG BAG                          B       275       290         280
...        ...          ...           ...       ...       ...         ...
3163   KG. BAG                          C       100       140         120
3164
3165  KG LOOSE                                   15        25          20
3166
3167                PACKING          SIZE      MINI      MAXI       MODAL

          DATE  ONE  TWO
3010  10062017  NaN  NaN
3011  10062017  NaN  NaN
3012  10062017  NaN  NaN
3013  10062017  NaN  NaN
3014  10062017  NaN  NaN
...        ...  ...  ...
3163  10062017  NaN  NaN
3164  10062017  NaN  NaN
3165  10062017  NaN  NaN
3166  10062017  NaN  NaN
3167  12062017  NaN  NaN

[158 rows x 14 columns]
                      S            NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
3366                  1          POTATO              91
3367                         UP/AGRA/CS                                   50
3368                                                                      50
3369                            PUN/GUJ                    L.R.           50
3370                                                                      50
...                 ...             ...             ...     ...          ...
3515                                                                      30
3516                                                                      30
3517                 43  LEHSUA/LEHSODA
3518                             RAJ/WB                                    1
3519  NO. COMM. & STATE                         IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
3366
3367    KG BAG                          A       280       300         290
3368    KG BAG                          B       250       275         260
3369    KG BAG                          A       330       375         350
3370    KG BAG                          B       300       325         310
...        ...          ...           ...       ...       ...         ...
3515   KG. BAG                          B       200       240         220
3516   KG. BAG                          C       100       180         150
3517
3518  KG LOOSE                                   15        25          20
3519                PACKING          SIZE      MINI      MAXI       MODAL

          DATE  ONE  TWO
3366  12062017  NaN  NaN
3367  12062017  NaN  NaN
3368  12062017  NaN  NaN
3369  12062017  NaN  NaN
3370  12062017  NaN  NaN
...        ...  ...  ...
3515  12062017  NaN  NaN
3516  12062017  NaN  NaN
3517  12062017  NaN  NaN
3518  12062017  NaN  NaN
3519  13062017  NaN  NaN

[154 rows x 14 columns]
                      S              NAME ARRIVAL_IN_TONS VARIETY  \
3722                  1            POTATO          1350.3
3723                           UP/AGRA/CS
3724
3725                              PUN/GUJ                    L.R.
3726
...                 ...               ...             ...     ...
3867                                   WB
3868
3869                 42       LADY FINGER            72.8
3870                     GUJ/WB/UP/RAJ/HR
3871  NO. COMM. & STATE                           IN TONS

     WEIGHT_IN_KG        KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE  \
3722
3723           50    KG BAG                          A       280       300
3724           50    KG BAG                          B       250       275
3725           50    KG BAG                          A       330       375
3726           50    KG BAG                          B       300       325
...           ...       ...          ...           ...       ...       ...
3867           20  KG KATTA                          A       200       250
3868           20  KG KATTA                          B       150       190
3869
3870           30   KG. BAG                          A       300       350

In [17]:
df_fruits

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE,ONE,TWO
0,1,APPLE,157.7,,,,,,,,,01062017,NaN,NaN
1,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,850,950,900,01062017,NaN,NaN
2,,,,,10,KG. C.BOX,,B,650,1050,750,01062017,NaN,NaN
3,,HP/KULLU(CS),,,20,KG. C.BOX,,A,1250,1400,1300,01062017,NaN,NaN
4,,,,,20,KG. C.BOX,,B,1050,1200,1100,01062017,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8860,,,,,10,KG C.BOX,,B,525,650,575,30062017,NaN,NaN
8861,,,,,10,KG C.BOX,,C,400,500,450,30062017,NaN,NaN
8862,27 WATER MELON,,233.5,,,,,,,,,30062017,NaN,NaN
8863,,RAJ/UP/HR/LOC,,ARUN,1,KG LOOSE,,,5,7,6,30062017,NaN,NaN
8864,,,,,VEGETABLES,,,,,,,30062017,NaN,NaN

indexNames = df_fruits[ df_fruits['WEIGHT_IN_KG'] == 'VEGETABLES' ].index
df_fruits.drop(indexNames , inplace=True)

In [18]:
indexNames = df_fruits[df_fruits['WEIGHT_IN_KG'] == 'VEGETABLES'].index
df_fruits.drop(indexNames, inplace=True)

In [19]:
df_fruits

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE,ONE,TWO
0,1,APPLE,157.7,,,,,,,,,01062017,NaN,NaN
1,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,850,950,900,01062017,NaN,NaN
2,,,,,10,KG. C.BOX,,B,650,1050,750,01062017,NaN,NaN
3,,HP/KULLU(CS),,,20,KG. C.BOX,,A,1250,1400,1300,01062017,NaN,NaN
4,,,,,20,KG. C.BOX,,B,1050,1200,1100,01062017,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8859,,HP,,,10,KG C.BOX,,A,675,800,750,30062017,NaN,NaN
8860,,,,,10,KG C.BOX,,B,525,650,575,30062017,NaN,NaN
8861,,,,,10,KG C.BOX,,C,400,500,450,30062017,NaN,NaN
8862,27 WATER MELON,,233.5,,,,,,,,,30062017,NaN,NaN
8863,,RAJ/UP/HR/LOC,,ARUN,1,KG LOOSE,,,5,7,6,30062017,NaN,NaN

In [20]:
drops = df_vegetables[df_vegetables['PACKING_SIZE'] == 'PACKING'].index
df_vegetables.drop(drops, inplace=True)
df_vegetables

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE,ONE,TWO
204,1,POTATO,938.9,,,,,,,,,01062017,NaN,NaN
205,,UP/AGRA/CS,,,50,KG BAG,,A,240,300,265,01062017,NaN,NaN
206,,,,,50,KG BAG,,B,200,230,210,01062017,NaN,NaN
207,,PUN/GUJ,,L.R.,50,KG BAG,,A,250,300,280,01062017,NaN,NaN
208,,,,,50,KG BAG,,B,200,240,225,01062017,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8977,,,,,20,KG BUN,,B,350,400,380,30062017,NaN,NaN
8978,29 KACHARI,,1.2,,,,,,,,,30062017,NaN,NaN
8979,,HAR/LOC,,,20,KG BOX,,A,150,250,200,30062017,NaN,NaN
8980,,,,,20,KG BOX,,B,100,140,120,30062017,NaN,NaN
8981,30 KACHALU,,2,,,,,,,,,30062017,NaN,NaN

In [21]:
df_fruits

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE,ONE,TWO
0,1,APPLE,157.7,,,,,,,,,01062017,NaN,NaN
1,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,850,950,900,01062017,NaN,NaN
2,,,,,10,KG. C.BOX,,B,650,1050,750,01062017,NaN,NaN
3,,HP/KULLU(CS),,,20,KG. C.BOX,,A,1250,1400,1300,01062017,NaN,NaN
4,,,,,20,KG. C.BOX,,B,1050,1200,1100,01062017,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8859,,HP,,,10,KG C.BOX,,A,675,800,750,30062017,NaN,NaN
8860,,,,,10,KG C.BOX,,B,525,650,575,30062017,NaN,NaN
8861,,,,,10,KG C.BOX,,C,400,500,450,30062017,NaN,NaN
8862,27 WATER MELON,,233.5,,,,,,,,,30062017,NaN,NaN
8863,,RAJ/UP/HR/LOC,,ARUN,1,KG LOOSE,,,5,7,6,30062017,NaN,NaN

In [23]:
df_fruits.to_excel("fruits_june_2017.xlsx")

In [22]:
df_vegetables.to_excel("veggies_june_2017.xlsx")