In [1]:
list_2017 = ['2017/02012017.pdf',
 '2017/03012017.pdf',
 '2017/04012017.pdf',
 '2017/05012017.pdf',
 '2017/06012017.pdf',
 '2017/07012017.pdf',
 '2017/09012017.pdf',
 '2017/10012017.pdf',
 '2017/11012017.pdf',
 '2017/12012017.pdf',
 '2017/13012017.pdf',
 '2017/14012017.pdf',
 '2017/16012017.pdf',
 '2017/17012017.pdf',
 '2017/18012017.pdf',
 '2017/19012017.pdf',
 '2017/20012017.pdf',
 '2017/21012017.pdf',
 '2017/23012017.pdf',
 '2017/24012017.pdf',
 '2017/25012017.pdf',
 '2017/27012017.pdf',
 '2017/28012017.pdf',
 '2017/30012017.pdf',
 '2017/31012017.pdf',
 '2017/01022017.pdf',
 '2017/02022017.pdf',
 '2017/03022017.pdf',
 '2017/04022017.pdf',
 '2017/06022017.pdf',
 '2017/07022017.pdf',
 '2017/08022017.pdf',
 '2017/09022017.pdf',
 '2017/10022017.pdf',
 '2017/11022017.pdf',
 '2017/13022017.pdf',
 '2017/14022017.pdf',
 '2017/15022017.pdf',
 '2017/16022017.pdf',
 '2017/17022017.pdf',
 '2017/18022017.pdf',
 '2017/20022017.pdf',
 '2017/21022017.pdf',
 '2017/22022017.pdf',
 '2017/23022017.pdf',
 '2017/24022017.pdf',
 '2017/25022017.pdf',
 '2017/27022017.pdf',
 '2017/28022017.pdf',
 '2017/01032017.pdf',
 '2017/02032017.pdf',
 '2017/03032017.pdf',
 '2017/04032017.pdf',
 '2017/06032017.pdf',
 '2017/07032017.pdf',
 '2017/08032017.pdf',
 '2017/09022017.pdf',
 '2017/10032017.pdf',
 '2017/11032017.pdf',
 '2017/14032017.pdf',
 '2017/15032017.pdf',
 '2017/16032017.pdf',
 '2017/17032017.pdf',
 '2017/18032017.pdf',
 '2017/20032017.pdf',
 '2017/21032017.pdf',
 '2017/22032017.pdf',
 '2017/23032017.pdf',
 '2017/24032017.pdf',
 '2017/25032017.pdf',
 '2017/27032017.pdf',
 '2017/28032017.pdf',
 '2017/29032017.pdf',
 '2017/30032017.pdf',
 '2017/31032017.pdf',
 '2017/01042017.pdf',
 '2017/03042017.pdf',
 '2017/04042017.pdf',
 '2017/05042017.pdf',
 '2017/06042017.pdf',
 '2017/07042017.pdf',
 '2017/08042017.pdf',
 '2017/10042017.pdf',
 '2017/11042017.pdf',
 '2017/12042017.pdf',
 '2017/13042017.pdf',
 '2017/14042017.pdf',
 '2017/15042017.pdf',
 '2017/17042017.pdf',
 '2017/18042017.pdf',
 '2017/19042017.pdf',
 '2017/20042017.pdf',
 '2017/21042017.pdf',
 '2017/22042017.pdf',
 '2017/24042017.pdf',
 '2017/25042017.pdf',
 '2017/26042017.pdf',
 '2017/27042017.pdf',
 '2017/28042017.pdf',
 '2017/29042017.pdf',
 '2017/01052017.pdf',
 '2017/02052017.pdf',
 '2017/03052017.pdf',
 '2017/04052017.pdf',
 '2017/05052017.pdf',
 '2017/06052017.pdf',
 '2017/08052017.pdf',
 '2017/09052017.pdf',
 '2017/10052017.pdf',
 '2017/11052017.pdf',
 '2017/12052017.pdf',
 '2017/13052017.pdf',
 '2017/15052017.pdf',
 '2017/16052017.pdf',
 '2017/17052017.pdf',
 '2017/18052017.pdf',
 '2017/19052017.pdf',
 '2017/20052017.pdf',
 '2017/22052017.pdf',
 '2017/23052017.pdf',
 '2017/24052017.pdf',
 '2017/25052017.pdf',
 '2017/26052017.pdf',
 '2017/27052017.pdf',
 '2017/29052017.pdf',
 '2017/30052017.pdf',
 '2017/31052017.pdf',
 '2017/01062017.pdf',
 '2017/02062017.pdf',
 '2017/03062017.pdf',
 '2017/05062017.pdf',
 '2017/06062017.pdf',
 '2017/07062017.pdf',
 '2017/08062017.pdf',
 '2017/09062017.pdf',
 '2017/10062017.pdf',
 '2017/12062017.pdf',
 '2017/13062017.pdf',
 '2017/14062017.pdf',
 '2017/15062017.pdf',
 '2017/16062017.pdf',
 '2017/17062017.pdf',
 '2017/19062017.pdf',
 '2017/20062017.pdf',
 '2017/21062017.pdf',
 '2017/22062017.pdf',
 '2017/23062017.pdf',
 '2017/24062017.pdf',
 '2017/26062017.pdf',
 '2017/27062017.pdf',
 '2017/28062017.pdf',
 '2017/29062017.pdf',
 '2017/30062017.pdf',
 '2017/01072017.pdf',
 '2017/03072017.pdf',
 '2017/04072017.pdf',
 '2017/05072017.pdf',
 '2017/06072017.pdf',
 '2017/07.07.2017.pdf',
 '2017/08072017.pdf',
 '2017/10072017.pdf',
 '2017/11072017.pdf',
 '2017/12072017.pdf',
 '2017/13072017.pdf',
 '2017/14072017.pdf',
 '2017/15072017.pdf',
 '2017/17072017.pdf',
 '2017/18072017.pdf',
 '2017/19072017.pdf',
 '2017/20072017.pdf',
 '2017/21072017.pdf',
 '2017/22072017.pdf',
 '2017/24072017.pdf',
 '2017/25072017.pdf',
 '2017/26072017.pdf',
 '2017/27072017.pdf',
 '2017/28072017.pdf',
 '2017/29072017.pdf',
 '2017/31072017.pdf',
 '2017/01082017.pdf',
 '2017/02082017.pdf',
 '2017/03082017.pdf',
 '2017/04082017.pdf',
 '2017/05082017.pdf',
 '2017/07082017.pdf',
 '2017/08082017.pdf',
 '2017/09082017.pdf',
 '2017/10082017.pdf',
 '2017/11082017.pdf',
 '2017/12082017.pdf',
 '2017/14082017.pdf',
 '2017/16082017.pdf',
 '2017/17082017.pdf',
 '2017/18082017.pdf',
 '2017/19082017.pdf',
 '2017/21082017.pdf',
 '2017/22082017.pdf',
 '2017/23082017.pdf',
 '2017/24082017.pdf',
 '2017/25082017.pdf',
 '2017/26082017.pdf',
 '2017/28082017.pdf',
 '2017/29082017.pdf',
 '2017/30082017.pdf',
 '2017/31082017.pdf',
 '2017/01092017.pdf',
 '2017/02092017.pdf',
 '2017/04092017.pdf',
 '2017/05092017.pdf',
 '2017/06092017.pdf',
 '2017/07092017.pdf',
 '2017/08092017.pdf',
 '2017/09092017.pdf',
 '2017/11092017.pdf',
 '2017/12092017.pdf',
 '2017/13092017.pdf',
 '2017/14092017.pdf',
 '2017/15092017.pdf',
 '2017/16092017.pdf',
 '2017/18092017.pdf',
 '2017/19092017.pdf',
 '2017/20092017.pdf',
 '2017/21092017.pdf',
 '2017/22092017.pdf',
 '2017/23092017.pdf',
 '207/25092017..pdf',
 '2017/26092017.pdf',
 '2017/27092017.pdf',
 '2017/28092017.pdf',
 '2017/29092017.pdf',
 '2017/30092017.pdf',
 '2017/03102017.pdf',
 '2017/04102017.pdf',
 '2017/05102017.pdf',
 '2017/06102017.pdf',
 '2017/07102017.pdf',
 '2017/09102017.pdf',
 '2017/10102017.pdf',
 '2017/11102017.pdf',
 '2017/12102017.pdf',
 '2017/13102017.pdf',
 '2017/14102017.pdf',
 '2017/16102017.pdf',
 '2017/17102017.pdf',
 '2017/18102017.pdf',
 '2017/19102017.pdf',
 '2017/20102017.pdf',
 '2017/21102017.pdf',
 '2017/23102017.pdf',
 '2017/24102017.pdf',
 '2017/25102017.pdf',
 '2017/26102017.pdf',
 '2017/27102017.pdf',
 '2017/28102017.pdf',
 '2017/30102017.pdf',
 '2017/31102017.pdf',
 '2017/01102017.pdf',
 '2017/02112017.pdf',
 '2017/03112017.pdf',
 '2017/04112017.pdf',
 '2017/06112017.pdf',
 '2017/07112017.pdf',
 '2017/08112017.pdf',
 '2017/09112017.pdf',
 '2017/10112017.pdf',
 '2017/11112017.pdf',
 '2017/13112017.pdf',
 '2017/14112017.pdf',
 '2017/15112017.pdf',
 '2017/16112017.pdf',
 '2017/17112017.pdf',
 '2017/18112017.pdf',
 '2017/20112017.pdf',
 '2017/21112017.pdf',
 '2017/22112017.pdf',
 '2017/23112017.pdf',
 '2017/24112017.pdf',
 '2017/25112017.pdf',
 '2017/27112017.pdf',
 '2017/28112017.pdf',
 '2017/29112017.pdf',
 '2017/30112017.pdf',
 '2017/01122017.pdf',
 '2017/02122017.pdf',
 '2017/04122017.pdf',
 '2017/05122017.pdf',
 '2017/06122017.pdf',
 '2017/07122017.pdf',
 '2017/08122017.pdf',
 '2017/09122017.pdf',
 '2017/11122017.pdf',
 '2017/12122017.pdf',
 '2017/13122017.pdf',
 '2017/14122017.pdf',
 '2017/15122017.pdf',
 '2017/16122017.pdf',
 '2017/18122017.pdf',
 '2017/19122017.pdf',
 '2017/20122017.pdf',
 '2017/21122017.pdf',
 '2017/22122017.pdf',
 '2017/23122017.pdf',
 '2017/25122017.pdf',
 '2017/26122017.pdf',
 '2017/27122017.pdf',
 '2017/28122017.pdf',
 '2017/29122017.pdf',
 '2017/30122017.pdf']

In [65]:
list_2019 = ['2019/01012019.pdf',
         '2019/02012019.pdf',
         '2019/03012019.pdf',
         '2019/04012019.pdf',
         '2019/05012019.pdf',
         '2019/07012019.pdf',
         '2019/08012019.pdf',
         '2019/09012019.pdf',
         '2019/10012019.pdf',
         '2019/11012019.pdf',
         '2019/12012019.pdf',
         '2019/14012019.pdf',
         '2019/15012019.pdf',
         '2019/16012019.pdf',
         '2019/17012019.pdf',
         '2019/18012019.pdf',
         '2019/19012019.pdf',
         '2019/21012019.pdf',
         '2019/22012019.pdf',
         '2019/23012019.pdf',
         '2019/24012019.pdf',
         '2019/25012019.pdf',
         '2019/28012019.pdf',
         '2019/29012019.pdf',
         '2019/30012019.pdf',
         '2019/31012019.pdf',
         '2019/01022019.pdf',
         '2019/02022019.pdf',
         '2019/04022019.pdf',
         '2019/05022019.pdf',
         '2019/06022019.pdf',
         '2019/07022019.pdf',
         '2019/08022019.pdf',
         '2019/09022019.pdf',
         '2019/11022019.pdf',
         '2019/12022019.pdf',
         '2019/13022019.pdf',
         '2019/14022019.pdf',
         '2019/15022019.pdf',
         '2019/16022019.pdf',
         '2019/18022019.pdf',
         '2019/19022019.pdf',
         '2019/20022019.pdf',
         '2019/21022019.pdf',
         '2019/22022019.pdf',
         '2019/23022019.pdf',
         '2019/25022019.pdf',
         '2019/26022019.pdf',
         '2019/27022019.pdf',
         '2019/28022019.pdf',
         '2019/01032019.pdf',
         '2019/02032019.pdf',
         '2019/04032019.pdf',
         '2019/05032019.pdf',
         '2019/06032019.PDF',
         '2019/07022019.pdf',
         '2019/08032019.pdf',
         '2019/09032019.pdf',
         '2019/11032019.pdf',
         '2019/12032019.pdf',
         '2019/13032019.pdf',
         '2019/14032019.pdf',
         '2019/15032019.pdf',
         '2019/16032019.pdf/',
         '2019/18032019.pdf',
         '2019/19032019.pdf',
         '2019/20032019.pdf',
         '2019/22032019.pdf',
         '2019/23032019.pdf',
         '2019/25022019.pdf',
         '2019/26032019.pdf',
         '2019/27032019.pdf',
         '2019/28032019.pdf',
         '2019/29032019.pdf',
         '2019/30032019.pdf',
         '2019/01042019.pdf',
         '2019/02042019.PDF',
         '2019/03042019.PDF',
         '2019/04042019.pdf',
         '2019/05042019.pdf',
         '2019/06042019.pdf',
         '2019/08042019.pdf',
         '2019/09042019.pdf',
         '2019/10042019.pdf',
         '2019/11042019.pdf',
         '2019/12042019.pdf',
         '2019/13042019.pdf',
         '2019/15042019.pdf',
         '2019/16042019.pdf',
         '2019/17042019.pdf',
         '2019/18042019.pdf',
         '2019/19042019.pdf',
         '2019/20042019.pdf',
         '2019/22042019.pdf',
         '2019/23042019.pdf',
         '2019/24042019.pdf',
         '2019/25042019.pdf',
         '2019/26042019.pdf',
         '2019/27042019.pdf',
         '2019/29042019.pdf',
         '2019/30042019.pdf',
         '2019/01052019.pdf',
         '2019/02052019.pdf',
         '2019/03052019.pdf',
         '2019/04052019.pdf',
         '2019/06052019.pdf',
         '2019/07052019.pdf',
         '2019/08052019.pdf',
         '2019/09052019.pdf',
         '2019/10052019.pdf',
         '2019/11052019.pdf',
         '2019/13052019.pdf',
         '2019/14052019.pdf',
         '2019/15052019.pdf',
         '2019/16052019.pdf',
         '2019/17052019.pdf',
         '2019/18052019.pdf',
         '2019/20052019.pdf',
         '2019/21052019.pdf',
         '2019/22052019.pdf',
         '2019/23052019.pdf',
         '2019/24052019.pdf',
         '2019/25052019.pdf',
         '2019/27052019.pdf',
         '2019/28052019.pdf',
         '2019/29052019.pdf',
         '2019/30052019.pdf',
         '2019/31052019.pdf',
         '2019/01062019.pdf',
         '2019/03062019.pdf',
         '2019/04062019.pdf',
         '2019/05062019.pdf',
         '2019/06062019.pdf',
         '2019/07062019.pdf',
         '2019/08062019.pdf',
         '2019/10062019.pdf',
         '2019/11062019.pdf',
         '2019/12062019.pdf',
         '2019/13062019.pdf',
         '2019/14062019.pdf',
         '2019/15062019.pdf',
         '2019/17062019.pdf',
         '2019/18062019.pdf',
         '2019/19062019.pdf',
         '2019/20062019.pdf',
         '2019/21062019.pdf',
         '2019/22062019.pdf',
         '2019/24062019.pdf',
         '2019/25062019.pdf',
         '2019/26062019.pdf',
         '2019/27062019.pdf',
         '2019/28062019.pdf',
         '2019/29062019.pdf',
         '2019/01072019.pdf',
         '2019/02072019.pdf',
         '2019/03072019.pdf',
         '2019/04072019.pdf',
         '2019/05072019.pdf',
         '2019/06072019.pdf',
         '2019/08072019.pdf',
         '2019/09072019.pdf',
         '2019/10072019.pdf',
         '2019/11072019.pdf',
         '2019/12072019.pdf',
         '2019/13072019.pdf',
         '2019/15072019.pdf',
         '2019/16072019.pdf',
         '2019/17072019.pdf',
         '2019/18072019.pdf',
         '2019/19072019.pdf',
         '2019/20072019.pdf',
         '2019/22072019.pdf',
         '2019/23072019.pdf',
         '2019/24072019.pdf',
         '2019/25072019.pdf',
         '2019/26072019.pdf',
         '2019/27072019.pdf',
         '2019/29072019.pdf',
         '30072019.pdf',
         '2019/31072019.pdf',
         '2019/01082019.pdf',
         '2019/02082019.pdf',
         '2019/03082019.pdf',
         '2019/05082019.pdf',
         '2019/06082019.pdf',
         '2019/07082019.pdf',
         '2019/08082019.pdf',
         '2019/09082019.pdf',
         '2019/10082019.pdf',
         '2019/12082019.pdf',
         '2019/13082019.pdf',
         '2019/14082019.pdf',
         '2019/16082019.pdf',
         '2019/17082019.pdf',
         '2019/19082019.pdf',
         '2019/20082019.pdf',
         '2019/21082019.pdf',
         '2019/22082019.pdf',
         '2019/23082019.pdf',
         '2019/24092019.pdf',
         '2019/26092019.pdf',
         '2019/27082019.PDF',
         '2019/28082019.pdf',
         '2019.29082019.pdf',
         '2019/30082019.pdf',
         '2019/31082019.pdf',
         '2019/02092019.pdf',
         '2019/03092019.pdf',
         '2019/04092019.pdf',
         '2019/05092019.pdf',
         '2019/06092019.pdf',
         '2019/07092019.pdf',
         '2019/09092019.pdf',
         '2019/10092019.pdf',
         '2019/11092019.pdf',
         '2019/12092019.pdf',
         '2019/13092019.pdf',
         '2019/14092019.pdf',
         '2019/16092019.pdf',
         '2019/17092019.pdf',
         '2019/18092019.pdf',
         '2019/19092019.pdf',
         '2019/20092019.pdf',
         '2019/21092019.pdf',
         '2019/23092019.pdf',
         '2019/24092019.pdf',
         '2019/25092019.pdf',
         '2019/26092019.pdf',
         '2019/27092019.pdf',
         '2019/28092019.pdf',
         '2019/30092019.pdf',
         '2019/01102019.pdf',
         '2019/03102019.pdf',
         '2019/04102019.pdf',
         '2019/02102019.pdf',
         '2019/07102019.pdf',
         '2019/08102019.pdf',
         '2019/09102019.pdf',
         '2019/10102019.pdf',
         '2019/11102019.pdf',
         '2019/12102019.pdf',
         '2019/14102019.pdf',
         '2019/15102019.pdf',
         '2019/16102019.PDF',
         '2019/17102019.pdf',
         '2019/18102019.pdf',
         '2019/19102019.pdf',
         '2019/21102019.pdf',
         '2019/22102019.pdf',
         '2019/23102019.pdf',
         '2019/24102019.pdf',
         '2019/25102019.pdf',
         '2019/26102019.pdf',
         '2018/28102019.pdf',
         '2019/29102019.pdf',
         '2019/30102019.pdf',
         '2019/31102019.pdf',
         '2019/01112019.pdf',
         '2019/02112019.pdf',
         '2019/04112019.pdf',
         '2019/05112019.pdf',
         '2019/06112019.pdf',
         '2019/07112019.pdf',
         '2019/08112019.pdf',
         '2019/09112019.pdf',
         '2019/11112019.pdf',
         '2019/12112019.pdf',
         '2019/13112019.pdf',
         '2019/14112019.pdf',
         '2019/15112019.pdf',
         '2019/16112019.pdf',
         '2019/18112019.pdf',
         '2019/19112019.pdf',
         '2019/20112019.pdf',
         '2019/21112019.pdf',
         '2019/22112019.pdf',
         '2019/23112019.pdf',
         '2019/25112019.pdf',
         '2019/26112019.pdf',
         '2019/27112019.pdf',
         '2019/28112019.pdf',
         '2019/29112019.pdf',
         '2019/30112019.pdf',
         '2019/02122019.pdf',
         '2019/03122019.pdf',
         '2019/04122019.pdf',
         '2019/05122019.pdf',
         '2019/06122019.pdf',
         '2019/07122019.pdf',
         '2019/09122019.pdf',
         '2019/10122019.pdf',
         '2019/11122019.pdf',
         '2019/12122019.pdf',
         '2019/13122019.pdf',
         '2019/14122019.pdf',
         '2019/16122019.pdf',
         '2019/17122019.pdf',
         '2019/18122019.pdf',
         '2019/19122019.pdf',
         '2019/20122018.pdf',
         '2019/21122019.pdf',
         '2019/23122019.pdf',
         '2019/24122019.pdf',
         '2019/25122019.pdf',
         '2019/26122019.pdf',
         '2019/27122019.pdf',
         '2019/28122019.pdf',
         '2019/30122019.pdf',
         '2019/31122019.pdf']
list_2019 = [item for item in list_2019 if item[7:9] == "06"]

In [1]:
list_2018 = ['2018/01012018.pdf',
 '2018/02012018.pdf',
 '2018/03012018.pdf',
 '2018/04012018..pdf',
 '2018/05012018.pdf',
 '2018/06012018.pdf',
 '2018/08012018.pdf',
 '2018/09012018.pdf',
 '2018/10012018.pdf',
 '2018/11012018.pdf',
 '2018/12012018.pdf',
 '2018/13012018.pdf',
 '2018/15012018.pdf',
 '2018/16012018.pdf',
 '2018/17012018.pdf',
 '2018/18012018.pdf',
 '2018/19012018.pdf',
 '2018/20012018.pdf',
 '2018/22012018.pdf',
 '2018/23012018.pdf',
 '2018/24012018.pdf',
 '2018/25012018.pdf',
 '2018/27012018.pdf',
 '2018/29012018.pdf',
 '2018/30012018.pdf',
 '2018/31012018.pdf',
 '2018/01022018.pdf',
 '2018/02022018.pdf',
 '2018/03022018.pdf',
 '2018/05022018.pdf',
 '2018/06022018.pdf',
 '2018/07022018.pdf',
 '2018/08022018.pdf',
 '2018/09022018.pdf',
 '2018/10022018.pdf',
 '2018/12022018.pdf',
 '2018/13022018.pdf',
 '2018/14022018.pdf',
 '2018/15022018.pdf',
 '2018/16022018.pdf',
 '2018/17022018.pdf',
 '2018/19022018.pdf',
 '2018/20022018.pdf',
 '2018/21022018.pdf',
 '2018/22022018.pdf',
 '2018/23022018.pdf',
 '2018/24022018.pdf',
 '2018/26022018.pdf',
 '2018/27022018.pdf',
 '2018/28022018.pdf',
 '2018/01032018.pdf',
 '2018/03032018.pdf',
 '2018/05032018.pdf',
 '2018/06032018.pdf',
 '2018/07032018.pdf',
 '2018/08032018.pdf',
 '2018/09032018.pdf',
 '2018/10032018.pdf',
 '2018/12032018.pdf',
 '2018/13032018.pdf',
 '2018/14032018.pdf',
 '2018/15032018.pdf',
 '2018/16032018.pdf',
 '2018/17032018.pdf',
 '2018/19032018.pdf',
 '2018/20032018.pdf',
 '2018/21032018.pdf',
 '2018/22032018.pdf',
 '2018/23032018.pdf',
 '2018/24032018.pdf',
 '2018/26032018.pdf',
 '2018/27032018.pdf',
 '2018/28032018.pdf',
 '2018/29032018.pdf',
 '2018/30032018.pdf',
 '2018/31032018.pdf',
 '2018/02042018.pdf',
 '2018/03042018.pdf',
 '2018/04042018.pdf',
 '2018/05042018.pdf',
 '2018/06042018.pdf',
 '2018/07042018.pdf',
 '2018/09042018.pdf',
 '2018.10042018.pdf',
 '2018/11042018.pdf',
 '2018/12042018.pdf',
 '2018/13042018.pdf',
 '2018/14042018.pdf',
 '2018/16042018.pdf',
 '2018/17042018.pdf',
 '2018/18042018.pdf',
 '2018/19042018.pdf',
 '2018/20042018.pdf',
 '2018/21042018.pdf',
 '2018/23042018.pdf',
 '2018/24042018.pdf',
 '2018/25042018.pdf',
 '2018/26042018.pdf',
 '2018/27042018.pdf',
 '2018/28042018.pdf',
 '2018/30042018.pdf',
 '018/01052018.pdf',
 '2018/02052018.pdf',
 '2018/03052018.pdf',
 '2018/04052018.pdf',
 '2018/05052018.pdf',
 '2018/07052018.PDF',
 '2018/08052018.pdf',
 '2018/09052018.pdf',
 '2018/10052018.PDF',
 '2018/11052018.pdf',
 '2018/12052018.pdf',
 '2018/14052018.pdf',
 '2018/15052018.pdf',
 '2018/16052018.pdf',
 '2018/17052018.pdf',
 '2018/18052018.pdf',
 '2018/19052018.pdf',
 '2018/21052018.pdf',
 '2018/22052018.pdf',
 '2018/23052018.pdf',
 '2018/25052018.pdf',
 '2018/25052018.pdf',
 '2018/26052018.pdf',
 '2018/28052018.pdf',
 '2018/29052018.pdf',
 '2018/30052018.pdf',
 '2018/31052018.pdf',
 '2018/01062018.pdf',
 '2018/02062018.pdf',
 '2018/04062018.pdf',
 '2018/05062018.pdf',
 '2018/06062018.pdf',
 '2018/07062018.pdf',
 '2018/08062018.pdf',
 '2018/11062018.pdf',
 '2018/12062018.pdf',
 '2018/13062018.pdf',
 '2018/14062018.pdf',
 '2018/15062018.pdf',
 '2018/16062018.pdf',
 '2018/18062018.pdf',
 '2018/19062018.pdf',
 '2018/20062018.pdf',
 '2018/22062018.pdf',
 '2018/23062018.pdf',
 '2018/25062018.pdf',
 '2018/26062018.pdf',
 '2018/27062018.pdf',
 '2018/28062018.pdf',
 '2018/29062018.pdf',
 '2018/30062018.pdf',
 '2018/02072018.pdf',
 '2018/03072018.pdf',
 '2018/04072018.pdf',
 '2018/05072018.pdf',
 '2018/06072018.pdf',
 '2018/07072018.pdf',
 '2018/09072018.pdf',
 '2018/10072018.PDF',
 '2018/11072018.pdf',
 '2018/12072018.pdf',
 '2018/13072018.pdf',
 '2018/14072018.pdf',
 '2018/16072018.pdf',
 '2018/17072018.pdf',
 '2018/18072018.pdf',
 '2018/19072018.pdf',
 '2018/20072018.pdf',
 '2018/21072018.pdf',
 '2018/23072018.pdf',
 '2018/24072018.pdf',
 '2018/25072018.pdf',
 '2018/26072018.pdf',
 '2018/27072018.pdf',
 '2018/28072018.pdf',
 '2018/30072018.pdf',
 '2018/31072018.pdf',
 '2018/01082018.pdf',
 '2018/02082018.pdf',
 '2018/03082018.pdf',
 '2018/04082018.pdf',
 '2018/06082018.pdf',
 '2018/07082018.pdf',
 '2018/08082018.pdf',
 '2018/09082018',
 '2018/10082018.pdf',
 '2018/11082018.pdf',
 '2018/13082018.pdf',
 '2018/14082018.pdf',
 '2018/16082018.pdf',
 '2018/17082018.pdf',
 '2018/18082018.pdf',
 '2018/20082018.pdf',
 '2018/21082018.pdf',
 '2018/22082018.pdf',
 '2018/23082018.pdf',
 '2018/24082018.pdf',
 '2018/25082018.pdf',
 '2018/27082018.pdf',
 '2018/28082018.pdf',
 '2018/29082018.pdf',
 '2018/30082018.pdf',
 '2018/31082018.pdf',
 '2018/01092018.pdf',
 '2018/03092018.pdf',
 '2018/04092018.pdf',
 '2018/05092018.pdf',
 '2018/06092018.pdf',
 '2018/07092018.pdf',
 '2018/08092018.pdf',
 '2018/10092018.pdf',
 '2018/11092018.pdf',
 '2018/12092018.pdf',
 '2018/13092018.pdf',
 '2018/14092018.pdf',
 '2018/15092018.pdf',
 '2018/17092018.pdf',
 '2018/18092018.pdf',
 '2018/19082018.pdf',
 '2018/20082018.pdf',
 '2018/21092018.pdf',
 '2018/22092018.pdf',
 '2018/24092018.pdf',
 '2018/25092018.pdf',
 '2018/26092018.pdf',
 '2018/27092018.pdf',
 '2018/28092018.pdf',
 '2018/29092018.pdf',
 '2018/01102018.pdf',
 '2018/03102018.pdf',
 '2018/04102018.pdf',
 '2018/05102018.pdf',
 '2018/06102018.pdf',
 '2018/08102018.pdf',
 '2018/09102018.pdf',
 '2018/10102018.pdf',
 '2018/11102018.pdf',
 '2018/12102018.pdf',
 '2018/13102018.pdf',
 '2018/15102018.pdf',
 '2018/16102018.pdf',
 '2018/17102018.pdf',
 '2018/18102018.pdf',
 '2018/19102018.pdf',
 '2018/20102018.pdf',
 '2018/22102018.pdf',
 '2018/23102018.pdf',
 '2018/24102018.pdf',
 '2018/25102018.pdf',
 '2018/26102018.pdf',
 '2018/27102018.pdf',
 '2018/29102018.pdf',
 '2018/30102018.pdf',
 '2018/31102018.pdf',
 '2018/01112018.pdf',
 '2018/02112018.pdf',
 '2018/03112018.pdf',
 '2018/05112018.pdf',
 '2018/06112018.pdf',
 '2018/07112018.pdf',
 '2018/08112018.pdf',
 '2018/09112018.pdf',
 '2018/10112018.pdf',
 '2018/12112018.pdf',
 '2018/13112018.pdf',
 '2018/14112018.pdf',
 '2018/15112018.pdf',
 '2018/16112018.pdf',
 '2018/17112018.pdf',
 '2018/19112018.pdf',
 '2018/20112018.pdf',
 '2018/21112018.pdf',
 '2018/22112018.pdf',
 '2018/23112018.pdf',
 '2018/24112018.pdf',
 '2018/26112018.pdf',
 '2018/27112018.pdf',
 '2018/28112018.pdf',
 '2018/29112018.pdf',
 '2018/30112018.pdf',
 '2018/01122018.pdf',
 '2018/03122018.pdf',
 '2018/04122018.PDF',
 '2018/05122018.pdf',
 '2018/06122018.pdf',
 '2018/07122018.pdf',
 '2018/08122018.pdf',
 '2018/10122018.pdf',
 '2018/11122018.pdf',
 '2018/12122018.pdf',
 '2018/13122018.pdf',
 '2018/14122018.pdf',
 '2018/15122018.pdf',
 '2018/17122018.pdf',
 '2018/18122018.pdf',
 '2018/19122018.pdf',
 '2018/20122018.pdf',
 '2018/21122018.pdf',
 '2018/22122018.pdf',
 '2018/24122018.pdf',
 '2018/25122018.pdf',
 '2018/26122018.pdf',
 '2018/27122018.pdf',
 '2018/28122018.pdf',
 '2018/29122018.pdf',
 '2018/31122018.pdf']
list_2018 = [item for item in list_2018 if item[7:9] == "06"]

In [66]:
list_2019

['2019/01062019.pdf',
 '2019/03062019.pdf',
 '2019/04062019.pdf',
 '2019/05062019.pdf',
 '2019/06062019.pdf',
 '2019/07062019.pdf',
 '2019/08062019.pdf',
 '2019/10062019.pdf',
 '2019/11062019.pdf',
 '2019/12062019.pdf',
 '2019/13062019.pdf',
 '2019/14062019.pdf',
 '2019/15062019.pdf',
 '2019/17062019.pdf',
 '2019/18062019.pdf',
 '2019/19062019.pdf',
 '2019/20062019.pdf',
 '2019/21062019.pdf',
 '2019/22062019.pdf',
 '2019/24062019.pdf',
 '2019/25062019.pdf',
 '2019/26062019.pdf',
 '2019/27062019.pdf',
 '2019/28062019.pdf',
 '2019/29062019.pdf']

In [67]:
import pandas as pd
import numpy as np 
import camelot

In [5]:
tables = camelot.read_pdf("2018/30062018.pdf", pages="all")

In [6]:
dff = tables[3].df
dff

,0,1,2,3,4,5,6,7,8,9,10
0,Sl,NAME OF THE,ARRIVAL,VARIETY,WEIGHT \nTYPE OF,,,GRADE,Wholesale Prices,,
1,NO. COMM. & STATE,,IN TONS,,IN KG.\nPACKING,,,SIZE,MINI,MAXI,MODAL
2,,,,,1\nKG LOOSE,,,B,4,6,5
3,,,,,VEGETABLES,,,,,,
4,1,POTATO,1030.8,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
67,,,,,1,KG LOOSE,,B,30,35,32
68,19,CHOLAI,3.5,,,,,,,,
69,,LOC,,,1,KG LOOSE,,,6,12,10
70,20,CUCUMBER,197.1,,,,,,,,
71,,UP/KANPUR/HR/RAJ/WB/RAIPUR,,DESI/RAIPUR,1,KG LOOSE,,A,25,35,30

In [8]:
def getdf(list):
    df = pd.DataFrame(columns=['S', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG', 'KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE', 'DATE'])
    for item in list:
        print(item)
        tables = camelot.read_pdf(item, pages="1-6")
        for i in range(6):
            df1 = tables[i].df[10:] if i==0 else tables[i].df[2:]
            df1['DATE'] = item[5:13]
            df1.columns = ['S', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG', 'KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE', 'DATE']
            df = pd.concat([df,df1], axis=0)
    return df

In [68]:
df = getdf(list_2019)

2019/01062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/03062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/04062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/05062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/06062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/07062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/08062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/10062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/11062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/12062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/13062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/14062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/15062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/17062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/18062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/19062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/20062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/21062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/22062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/24062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/25062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/26062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/27062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/28062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2019/29062019.pdf

/Users/sakshamarora/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
df

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE
10,NO. COMM. & STATE,,IN TONS,,IN KG.,,PACKING,SIZE,MINI,MAXI,MODAL,01062018
11,1,APPLE,38.8,,,,,,,,,01062018
12,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,975,1200,1050,01062018
13,,,,,10,KG. C.BOX,,B,760,950,840,01062018
14,,,,,10,KG. C.BOX,,C,500,750,600,01062018
...,...,...,...,...,...,...,...,...,...,...,...,...
67,61,CAPSICUM,68.3,,,,,,,,,30062018
68,,HAR,,,1,KG LOOSE,,A,50,60,55,30062018
69,,,,,1,KG LOOSE,,B,30,35,32,30062018
70,,MAH,,,1,KG LOOSE,,,50,60,56,30062018
71,,HP,,,1,KG LOOSE,,,55,70,60,30062018

In [11]:
df = df[1:]

In [12]:
df = df.reset_index(drop=True)

In [13]:
df

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE
0,1,APPLE,38.8,,,,,,,,,01062018
1,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,975,1200,1050,01062018
2,,,,,10,KG. C.BOX,,B,760,950,840,01062018
3,,,,,10,KG. C.BOX,,C,500,750,600,01062018
4,,HPS/UTK(CS),,ROYAL DEL.,10,KG. C.BOX,,A,725,1050,770,01062018
...,...,...,...,...,...,...,...,...,...,...,...,...
9954,61,CAPSICUM,68.3,,,,,,,,,30062018
9955,,HAR,,,1,KG LOOSE,,A,50,60,55,30062018
9956,,,,,1,KG LOOSE,,B,30,35,32,30062018
9957,,MAH,,,1,KG LOOSE,,,50,60,56,30062018
9958,,HP,,,1,KG LOOSE,,,55,70,60,30062018

In [26]:
df.to_excel("june2018.xlsx")

In [13]:
dff = df.index[df['NAME'] == 'APPLE']

In [27]:
dff2 = df.index[df['S']=='1']

In [15]:
dff3 = df.index[df['WEIGHT_IN_KG'] == 'VEGETABLES']

In [49]:
last = df.tail(1).index
last

RangeIndex(start=9958, stop=9959, step=1)

In [60]:
dff2 = dff2.append(last)

In [61]:
dffruits = df[dff2[1]:dff2[2]]
dfveggies = df[dff2[-2]:dff2[-1]]
dfveggies

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE
9751,1,POTATO,1030.8,,,,,,,,,30062018
9752,,UP,,,50,KG BAG,,A,575,700,625,30062018
9753,,,,,50,KG BAG,,B,350,550,450,30062018
9754,,PUN/HAR,,WHITE,50,KG BAG,,A,425,500,450,30062018
9755,,,,,50,KG BAG,,B,350,400,380,30062018
...,...,...,...,...,...,...,...,...,...,...,...,...
9953,,,,,1,KG LOOSE,,B,6,8,7,30062018
9954,61,CAPSICUM,68.3,,,,,,,,,30062018
9955,,HAR,,,1,KG LOOSE,,A,50,60,55,30062018
9956,,,,,1,KG LOOSE,,B,30,35,32,30062018
9957,,MAH,,,1,KG LOOSE,,,50,60,56,30062018

In [51]:
df_fruits = pd.DataFrame(columns=['S', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG', 'KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE'])
df_vegetables = pd.DataFrame(columns=['S', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG', 'KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE'])

In [29]:
for j in range(0, len(dff2)-1, 2):
    df_fruits1 = df[dff2[j]:dff2[j+1]]
    print(df_fruits1)
    df_fruits = pd.concat([df_fruits, df_fruits1], axis=0)

                  S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
0                 1           APPLE            38.8
1                    HP/KINNAUR(CS)                  ROYAL DEL.           10
2                                                                         10
3                                                                         10
4                       HPS/UTK(CS)                  ROYAL DEL.           10
..              ...             ...             ...         ...          ...
240                                                                        2
241  28 WATER MELON                           822.3
242                      AP/MAH/RAJ                        ARUN            1
243                                                                        1
244                                                               VEGETABLES

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
0
1    KG. C.BOX                          A       975      1200        1050
2    KG. C.BOX                          B       760       950         840
3    KG. C.BOX                          C       500       750         600
4    KG. C.BOX                          A       725      1050         770
..         ...          ...           ...       ...       ...         ...
240     KG BOX                          B        50        90          70
241
242   KG LOOSE                          A         8        10           9
243   KG LOOSE                          B         5         7           6
244

         DATE
0    01062018
1    01062018
2    01062018
3    01062018
4    01062018
..        ...
240  01062018
241  01062018
242  01062018
243  01062018
244  01062018

[245 rows x 12 columns]
                  S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
448               1           APPLE           131.2
449                  HP/KINNAUR(CS)                  ROYAL DEL.           10
450                                                                       10
451                                                                       10
452                     HPS/UTK(CS)                  ROYAL DEL.           10
..              ...             ...             ...         ...          ...
685                                                                      100
686  28 WATER MELON                             946
687                      AP/MAH/RAJ                        ARUN            1
688                                                                        1
689                                                               VEGETABLES

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
448
449  KG. C.BOX                          A       975      1200        1050
450  KG. C.BOX                          B       760       950         840
451  KG. C.BOX                          C       500       750         600
452  KG. C.BOX                          A       725      1050         770
..         ...          ...           ...       ...       ...         ...
685  KG. LOOSE                          B       300       400         350
686
687   KG LOOSE                          A         8        10           9
688   KG LOOSE                          B         5         7           6
689

         DATE
448  02062018
449  02062018
450  02062018
451  02062018
452  02062018
..        ...
685  02062018
686  02062018
687  02062018
688  02062018
689  02062018

[242 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
896                1           APPLE            64.2
897                   HP/KINNAUR(CS)                  ROYAL DEL.           10
898                                                                        10
899                                                                        10
900                      HPS/UTK(CS)                  ROYAL DEL.           10
...              ...             ...             ...         ...          ...
1110                                                                      100
1111  26 WATER MELON                            93.8
1112                      AP/MAH/RAJ                        ARUN            1
1113                                                                        1
1114                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
896
897   KG. C.BOX                          A       975      1200        1050
898   KG. C.BOX                          B       760       950         840
899   KG. C.BOX                          C       500       750         600
900   KG. C.BOX                          A       725      1050         770
...         ...          ...           ...       ...       ...         ...
1110  KG. LOOSE                          B       411       480         450
1111
1112   KG LOOSE                          A        11        14          13
1113   KG LOOSE                          B         7        10           8
1114

          DATE
896   04062018
897   04062018
898   04062018
899   04062018
900   04062018
...        ...
1110  04062018
1111  04062018
1112  04062018
1113  04062018
1114  04062018

[219 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
1308               1           APPLE              75
1309                  HP/KINNAUR(CS)                  ROYAL DEL.           10
1310                                                                       10
1311                                                                       10
1312                     HPS/UTK(CS)                  ROYAL DEL.           10
...              ...             ...             ...         ...          ...
1522                                                                      100
1523  26 WATER MELON                           779.5
1524                      AP/MAH/RAJ                        ARUN            1
1525                                                                        1
1526                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1308
1309  KG. C.BOX                          A       975      1200        1050
1310  KG. C.BOX                          B       760       950         840
1311  KG. C.BOX                          C       500       750         600
1312  KG. C.BOX                          A       725      1050         770
...         ...          ...           ...       ...       ...         ...
1522  KG. LOOSE                          B       500       580         540
1523
1524   KG LOOSE                          A        11        14          13
1525   KG LOOSE                          B         7        10           8
1526

          DATE
1308  05062018
1309  05062018
1310  05062018
1311  05062018
1312  05062018
...        ...
1522  05062018
1523  05062018
1524  05062018
1525  05062018
1526  05062018

[219 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
1720               1           APPLE            26.4
1721                  HP/KINNAUR(CS)                  ROYAL DEL.           10
1722                                                                       10
1723                                                                       10
1724                     HPS/UTK(CS)                  ROYAL DEL.           10
...              ...             ...             ...         ...          ...
1937                                                                      100
1938  26 WATER MELON                           521.9
1939                      AP/MAH/RAJ                        ARUN            1
1940                                                                        1
1941                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1720
1721  KG. C.BOX                          A       975      1200        1050
1722  KG. C.BOX                          B       760       950         840
1723  KG. C.BOX                          C       500       750         600
1724  KG. C.BOX                          A       725      1050         770
...         ...          ...           ...       ...       ...         ...
1937  KG. LOOSE                          B       500       580         540
1938
1939   KG LOOSE                          A        11        14          13
1940   KG LOOSE                          B         7        10           8
1941

          DATE
1720  06062018
1721  06062018
1722  06062018
1723  06062018
1724  06062018
...        ...
1937  06062018
1938  06062018
1939  06062018
1940  06062018
1941  06062018

[222 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
2132               1           APPLE            32.8
2133                  HP/KINNAUR(CS)                  ROYAL DEL.           10
2134                                                                       10
2135                                                                       10
2136                     HPS/UTK(CS)                  ROYAL DEL.           10
...              ...             ...             ...         ...          ...
2349                                                                      100
2350  26 WATER MELON                           562.9
2351                      AP/MAH/RAJ                        ARUN            1
2352                                                                        1
2353                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2132
2133  KG. C.BOX                          A       950      1200        1040
2134  KG. C.BOX                          B       740       900         800
2135  KG. C.BOX                          C       500       700         575
2136  KG. C.BOX                          A       740      1050         800
...         ...          ...           ...       ...       ...         ...
2349  KG. LOOSE                          B       500       580         540
2350
2351   KG LOOSE                          A        11        14          13
2352   KG LOOSE                          B         7        10           8
2353

          DATE
2132  07062018
2133  07062018
2134  07062018
2135  07062018
2136  07062018
...        ...
2349  07062018
2350  07062018
2351  07062018
2352  07062018
2353  07062018

[222 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
2544               1           APPLE            16.2
2545                  HP/KINNAUR(CS)                  ROYAL DEL.           10
2546                                                                       10
2547                                                                       10
2548                     HPS/UTK(CS)                  ROYAL DEL.           10
...              ...             ...             ...         ...          ...
2762                                                                      100
2763  26 WATER MELON                           458.9
2764                      AP/MAH/RAJ                        ARUN            1
2765                                                                        1
2766                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2544
2545  KG. C.BOX                          A       950      1200        1040
2546  KG. C.BOX                          B       740       900         800
2547  KG. C.BOX                          C       500       700         575
2548  KG. C.BOX                          A       740      1050         800
...         ...          ...           ...       ...       ...         ...
2762  KG. LOOSE                          B       500       580         540
2763
2764   KG LOOSE                          A        11        14          13
2765   KG LOOSE                          B         7        10           8
2766

          DATE
2544  08062018
2545  08062018
2546  08062018
2547  08062018
2548  08062018
...        ...
2762  08062018
2763  08062018
2764  08062018
2765  08062018
2766  08062018

[223 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
2956               1           APPLE            15.5
2957                  HP/KINNAUR(CS)                  ROYAL DEL.           10
2958                                                                       10
2959                                                                       10
2960                     HPS/UTK(CS)                  ROYAL DEL.           10
...              ...             ...             ...         ...          ...
3163                                                                      100
3164  27 WATER MELON                           103.9
3165                      AP/MAH/RAJ                        ARUN            1
3166                                                                        1
3167                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2956
2957  KG. C.BOX                          A       950      1200        1040
2958  KG. C.BOX                          B       740       900         800
2959  KG. C.BOX                          C       500       700         575
2960  KG. C.BOX                          A       740      1050         800
...         ...          ...           ...       ...       ...         ...
3163  KG. LOOSE                          B       500       540         520
3164
3165   KG LOOSE                          A        11        14          13
3166   KG LOOSE                          B         7        10           8
3167

          DATE
2956  11062018
2957  11062018
2958  11062018
2959  11062018
2960  11062018
...        ...
3163  11062018
3164  11062018
3165  11062018
3166  11062018
3167  11062018

[212 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
3368               1           APPLE            31.5
3369                  HP/KINNAUR(CS)                  ROYAL DEL.           10
3370                                                                       10
3371                                                                       10
3372                     HPS/UTK(CS)                  ROYAL DEL.           10
...              ...             ...             ...         ...          ...
3575                                                                      100
3576  27 WATER MELON                           690.4
3577                      AP/MAH/RAJ                        ARUN            1
3578                                                                        1
3579                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
3368
3369  KG. C.BOX                          A       950      1200        1040
3370  KG. C.BOX                          B       740       900         800
3371  KG. C.BOX                          C       500       700         575
3372  KG. C.BOX                          A       740      1050         800
...         ...          ...           ...       ...       ...         ...
3575  KG. LOOSE                          B       500       540         520
3576
3577   KG LOOSE                          A        11        14          13
3578   KG LOOSE                          B         7        10           8
3579

          DATE
3368  12062018
3369  12062018
3370  12062018
3371  12062018
3372  12062018
...        ...
3575  12062018
3576  12062018
3577  12062018
3578  12062018
3579  12062018

[212 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
3780               1           APPLE            32.8
3781                  HP/KINNAUR(CS)                  ROYAL DEL.           10
3782                                                                       10
3783                                                                       10
3784                     HPS/UTK(CS)                  ROYAL DEL.           10
...              ...             ...             ...         ...          ...
3979                                                                      100
3980  27 WATER MELON                           579.4
3981                      AP/MAH/RAJ                        ARUN  1\nKG LOOSE
3982                                                              1\nKG LOOSE
3983                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
3780
3781  KG. C.BOX                          A       950      1200        1040
3782  KG. C.BOX                          B       740       900         800
3783  KG. C.BOX                          C       500       700         575
3784  KG. C.BOX                          A       740      1050         800
...         ...          ...           ...       ...       ...         ...
3979  KG. LOOSE                          B       500       540         520
3980
3981                                     A        11        14          13
3982                                     B         7        10           8
3983

          DATE
3780  13062018
3781  13062018
3782  13062018
3783  13062018
3784  13062018
...        ...
3979  13062018
3980  13062018
3981  13062018
3982  13062018
3983  13062018

[204 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
4192               1           APPLE            63.3
4193                  HP/KINNAUR(CS)                  ROYAL DEL.           10
4194                                                                       10
4195                                                                       10
4196                     HPS/UTK(CS)                  ROYAL DEL.           10
...              ...             ...             ...         ...          ...
4391                                                                      100
4392  27 WATER MELON                           506.8
4393                      AP/MAH/RAJ                        ARUN  1\nKG LOOSE
4394                                                              1\nKG LOOSE
4395                                                               VEGETABLES

             KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
4192
4193  KG. C.BOX                          A       950      1200        1040
4194  KG. C.BOX                          B       740       900         800
4195  KG. C.BOX                          C       500       700         575
4196  KG. C.BOX                          A       740      1050         800
...         ...          ...           ...       ...       ...         ...
4391  KG. LOOSE                          B       500       540         520
4392
4393                                     A        11        14          13
4394                                     B         7        10           8
4395

          DATE
4192  14062018
4193  14062018
4194  14062018
4195  14062018
4196  14062018
...        ...
4391  14062018
4392  14062018
4393  14062018
4394  14062018
4395  14062018

[204 rows x 12 columns]
                   S            NAME ARRIVAL_IN_TONS     VARIETY WEIGHT_IN_KG  \
4604               1           APPLE            39.2
4605                  HP/KINNAUR(CS)                  ROYAL DEL.           10
4606                                                                       10
4607                                                                       10

In [62]:
for j in range(1, len(dff2)-1, 2):
    df_veg1 = df[dff2[j]:dff2[j+1]]
    print(df_veg1)
    df_vegetables = pd.concat([df_vegetables, df_veg1], axis=0)

                     S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
245                  1           POTATO          1065.7
246                                  UP                                   50
247                                                                       50
248                     PUN/HAR/HP(UNA)                   WHITE           50
249                                                                       50
..                 ...              ...             ...     ...          ...
443                                                                        1
444                 64         CAPSICUM            75.6
445                              HP/HAR                                    1
446                                                                        1
447  NO. COMM. & STATE                          IN TONS               IN KG.

           KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
245
246    KG BAG                          A       525       720         625
247    KG BAG                          B       300       500         450
248    KG BAG                          A       525       600         430
249    KG BAG                          B       350       500         430
..        ...          ...           ...       ...       ...         ...
443  KG LOOSE                          B         4         7           6
444
445  KG LOOSE                          A         7        10           9
446  KG LOOSE                          B         4         6           5
447                PACKING          SIZE      MINI      MAXI       MODAL

         DATE
245  01062018
246  01062018
247  01062018
248  01062018
249  01062018
..        ...
443  01062018
444  01062018
445  01062018
446  01062018
447  02062018

[203 rows x 12 columns]
                     S             NAME ARRIVAL_IN_TONS     VARIETY  \
690                  1           POTATO          1019.9
691                                  UP
692
693                     PUN/HAR/HP(UNA)                       WHITE
694
..                 ...              ...             ...         ...
891                              HP/HAR
892
893                       BANGALORE/HAR                  RED/YELLOW
894                 66           SINGHI             0.8
895  NO. COMM. & STATE                          IN TONS

    WEIGHT_IN_KG        KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE  \
690
691           50    KG BAG                          A       525       720
692           50    KG BAG                          B       300       500
693           50    KG BAG                          A       525       600
694           50    KG BAG                          B       350       500
..           ...       ...          ...           ...       ...       ...
891            1  KG LOOSE                          A         7        10
892            1  KG LOOSE                          B         4         6
893            1  KG LOOSE                                   40        50
894
895       IN KG.                PACKING          SIZE      MINI      MAXI

    MODAL_PRICE      DATE
690              02062018
691         625  02062018
692         450  02062018
693         430  02062018
694         430  02062018
..          ...       ...
891           9  02062018
892           5  02062018
893          45  02062018
894              02062018
895       MODAL  04062018

[206 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
1115                  1           POTATO            85.7
1116                                  UP                                   50
1117                                                                       50
1118                     PUN/HAR/HP(UNA)                   WHITE           50
1119                                                                       50
...                 ...              ...             ...     ...          ...
1303                          LOC/HAR/UP                                   40
1304                                                                       40
1305                                                                       40
1306                 62             SAIM
1307  NO. COMM. & STATE                          IN TONS               IN KG.

           KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1115
1116   KG BAG                          A       575       750         650
1117   KG BAG                          B       350       550         450
1118   KG BAG                          A       525       650         575
1119   KG BAG                          B       350       500         425
...       ...          ...           ...       ...       ...         ...
1303  KG. BUN                          A       400       550         500
1304  KG. BUN                          B       300       380         360
1305  KG. BUN                          C       200       280         240
1306
1307               PACKING          SIZE      MINI      MAXI       MODAL

          DATE
1115  04062018
1116  04062018
1117  04062018
1118  04062018
1119  04062018
...        ...
1303  04062018
1304  04062018
1305  04062018
1306  04062018
1307  05062018

[193 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
1527                  1           POTATO          1671.3
1528                                  UP                                   50
1529                                                                       50
1530                     PUN/HAR/HP(UNA)                   WHITE           50
1531                                                                       50
...                 ...              ...             ...     ...          ...
1715                          LOC/HAR/UP                                   40
1716                                                                       40
1717                                                                       40
1718                 64             SAIM
1719  NO. COMM. & STATE                          IN TONS               IN KG.

           KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1527
1528   KG BAG                          A       575       750         650
1529   KG BAG                          B       350       550         450
1530   KG BAG                          A       525       650         575
1531   KG BAG                          B       350       500         425
...       ...          ...           ...       ...       ...         ...
1715  KG. BUN                          A       400       550         500
1716  KG. BUN                          B       300       380         360
1717  KG. BUN                          C       200       280         240
1718
1719               PACKING          SIZE      MINI      MAXI       MODAL

          DATE
1527  05062018
1528  05062018
1529  05062018
1530  05062018
1531  05062018
...        ...
1715  05062018
1716  05062018
1717  05062018
1718  05062018
1719  06062018

[193 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
1942                  1           POTATO           865.5
1943                                  UP                                   50
1944                                                                       50
1945                     PUN/HAR/HP(UNA)                   WHITE           50
1946                                                                       50
...                 ...              ...             ...     ...          ...
2127                          UP/W.B/GUJ                                    1
2128                 62           RADISH            23.3
2129                          LOC/HAR/UP                                   40
2130                                                                       40
2131  NO. COMM. & STATE                          IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
1942
1943    KG BAG                          A       575       750         650
1944    KG BAG                          B       350       550         450
1945    KG BAG                          A       525       650         575
1946    KG BAG                          B       350       500         425
...        ...          ...           ...       ...       ...         ...
2127  KG LOOSE                                    4         6           5
2128
2129   KG. BUN                          A       120       180         140
2130   KG. BUN                          B       100       110         105
2131                PACKING          SIZE      MINI      MAXI       MODAL

          DATE
1942  06062018
1943  06062018
1944  06062018
1945  06062018
1946  06062018
...        ...
2127  06062018
2128  06062018
2129  06062018
2130  06062018
2131  07062018

[190 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
2354                  1           POTATO          1081.7
2355                                  UP                                   50
2356                                                                       50
2357                     PUN/HAR/HP(UNA)                   WHITE           50
2358                                                                       50
...                 ...              ...             ...     ...          ...
2539                 62           RADISH            23.1
2540                          LOC/HAR/UP                                   40
2541                                                                       40
2542                 63          SPINACH            32.5
2543  NO. COMM. & STATE                          IN TONS               IN KG.

           KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2354
2355   KG BAG                          A       575       750         650
2356   KG BAG                          B       350       550         450
2357   KG BAG                          A       525       650         575
2358   KG BAG                          B       350       500         425
...       ...          ...           ...       ...       ...         ...
2539
2540  KG. BUN                          A       120       180         140
2541  KG. BUN                          B       100       110         105
2542
2543               PACKING          SIZE      MINI      MAXI       MODAL

          DATE
2354  07062018
2355  07062018
2356  07062018
2357  07062018
2358  07062018
...        ...
2539  07062018
2540  07062018
2541  07062018
2542  07062018
2543  08062018

[190 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
2767                  1           POTATO           974.3
2768                                  UP                                   50
2769                                                                       50
2770                     PUN/HAR/HP(UNA)                   WHITE           50
2771                                                                       50
...                 ...              ...             ...     ...          ...
2951                 63          SPINACH            30.2
2952                          LOC/HAR/UP                                   40
2953                                                                       40
2954                                                                       40
2955  NO. COMM. & STATE                          IN TONS               IN KG.

           KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
2767
2768   KG BAG                          A       575       750         650
2769   KG BAG                          B       350       550         450
2770   KG BAG                          A       525       600         575
2771   KG BAG                          B       450       500         460
...       ...          ...           ...       ...       ...         ...
2951
2952  KG. BUN                          A       400       550         500
2953  KG. BUN                          B       300       380         360
2954  KG. BUN                          C       200       280         240
2955               PACKING          SIZE      MINI      MAXI       MODAL

          DATE
2767  08062018
2768  08062018
2769  08062018
2770  08062018
2771  08062018
...        ...
2951  08062018
2952  08062018
2953  08062018
2954  08062018
2955  11062018

[189 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
3168                  1           POTATO             122
3169                                  UP                                   50
3170                                                                       50
3171                     PUN/HAR/HP(UNA)                   WHITE           50
3172                                                                       50
...                 ...              ...             ...     ...          ...
3363                 64    SARSON LEAVES
3364                                 LOC                                    1
3365                                                                        1
3366                 65         CAPSICUM              45
3367  NO. COMM. & STATE                          IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
3168
3169    KG BAG                          A       575       750         650
3170    KG BAG                          B       350       550         450
3171    KG BAG                          A       525       600         575
3172    KG BAG                          B       450       500         460
...        ...          ...           ...       ...       ...         ...
3363
3364  KG LOOSE                          A        10        15          12
3365  KG LOOSE                          B         4         7           6
3366
3367                PACKING          SIZE      MINI      MAXI       MODAL

          DATE
3168  11062018
3169  11062018
3170  11062018
3171  11062018
3172  11062018
...        ...
3363  11062018
3364  11062018
3365  11062018
3366  11062018
3367  12062018

[200 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
3580                  1           POTATO          1338.8
3581                                  UP                                   50
3582                                                                       50
3583                     PUN/HAR/HP(UNA)                   WHITE           50
3584                                                                       50
...                 ...              ...             ...     ...          ...
3775                           LOC/LAHOL                                    1
3776                               LOCAL                                    1
3777                 64    SARSON LEAVES
3778                                 LOC                                    1
3779  NO. COMM. & STATE                          IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
3580
3581    KG BAG                          A       575       750         650
3582    KG BAG                          B       350       550         450
3583    KG BAG                          A       525       600         575
3584    KG BAG                          B       450       500         460
...        ...          ...           ...       ...       ...         ...
3775  KG LOOSE                                   80       100          90
3776  KG LOOSE                                   60        70          65
3777
3778  KG LOOSE                          A        10        15          12
3779                PACKING          SIZE      MINI      MAXI       MODAL

          DATE
3580  12062018
3581  12062018
3582  12062018
3583  12062018
3584  12062018
...        ...
3775  12062018
3776  12062018
3777  12062018
3778  12062018
3779  13062018

[200 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS     VARIETY  \
3984                  1           POTATO          1087.1
3985                                  UP
3986
3987                     PUN/HAR/HP(UNA)                       WHITE
3988
...                 ...              ...             ...         ...
4187                       BANGALORE/HAR                  RED/YELLOW
4188                 66           SINGHI             2.8
4189                                  MP
4190
4191  NO. COMM. & STATE                          IN TONS

     WEIGHT_IN_KG        KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE  \
3984
3985           50    KG BAG                          A       575       700
3986           50    KG BAG                          B       350       550
3987           50    KG BAG                          A       450       500
3988           50    KG BAG                          B       400       440
...           ...       ...          ...           ...       ...       ...
4187            1  KG LOOSE                                   40        50
4188
4189            1    KG BAG                          A        20        30
4190            1    KG BAG                          B        10        14
4191       IN KG.                PACKING          SIZE      MINI      MAXI

     MODAL_PRICE      DATE
3984              13062018
3985         650  13062018
3986         450  13062018
3987         470  13062018
3988         420  13062018
...          ...       ...
4187          45  13062018
4188              13062018
4189          25  13062018
4190          12  13062018
4191       MODAL  14062018

[208 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
4396                  1           POTATO          1069.8
4397                                  UP                                   50
4398                                                                       50
4399                     PUN/HAR/HP(UNA)                   WHITE           50
4400                                                                       50
...                 ...              ...             ...     ...          ...
4599                                  MP                                    1
4600                                                                        1
4601                                 RAJ                                    1
4602                 67       SWAN PHALI
4603  NO. COMM. & STATE                          IN TONS               IN KG.

          KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
4396
4397  KG BAG                          A       575       700         650
4398  KG BAG                          B       350       550         450
4399  KG BAG                          A       450       500         470
4400  KG BAG                          B       400       440         420
...      ...          ...           ...       ...       ...         ...
4599  KG BAG                          A        20        30          25
4600  KG BAG                          B        10        14          12
4601  KG BAG                          C         8        12          10
4602
4603              PACKING          SIZE      MINI      MAXI       MODAL

          DATE
4396  14062018
4397  14062018
4398  14062018
4399  14062018
4400  14062018
...        ...
4599  14062018
4600  14062018
4601  14062018
4602  14062018
4603  15062018

[208 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
4808                  1           POTATO           914.5
4809                                  UP                                   50
4810                                                                       50

[202 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS     VARIETY  \
7282                  1           POTATO          1009.1
7283                                  UP
7284
7285                     PUN/HAR/HP(UNA)                       WHITE
7286
...                 ...              ...             ...         ...
7483
7484                       BANGALORE/HAR                  RED/YELLOW
7485                 66           SINGHI             1.3
7486                                  MP
7487  NO. COMM. & STATE                          IN TONS

     WEIGHT_IN_KG        KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE  \
7282
7283           50    KG BAG                          A       575       700
7284           50    KG BAG                          B       350       550
7285           50    KG BAG                          A       450       500
7286           50    KG BAG                          B       400       440
...           ...       ...          ...           ...       ...       ...
7483           14  KG C.BOX                                  500       600
7484            1  KG LOOSE                                   80       100
7485
7486            1    KG BAG                          A        20        30
7487       IN KG.                PACKING          SIZE      MINI      MAXI

     MODAL_PRICE      DATE
7282              23062018
7283         625  23062018
7284         450  23062018
7285         470  23062018
7286         420  23062018
...          ...       ...
7483         540  23062018
7484          90  23062018
7485              23062018
7486          25  23062018
7487       MODAL  25062018

[206 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
7696                  1           POTATO           123.7
7697                                  UP                                   50
7698                                                                       50
7699                     PUN/HAR/HP(UNA)                   WHITE           50
7700                                                                       50
...                 ...              ...             ...     ...          ...
7895                                                                        1
7896                 60         CAPSICUM              44
7897                                 HAR                                    1
7898                                                                        1
7899  NO. COMM. & STATE                          IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
7696
7697    KG BAG                          A       575       700         625
7698    KG BAG                          B       350       550         450
7699    KG BAG                          A       450       500         470
7700    KG BAG                          B       400       440         420
...        ...          ...           ...       ...       ...         ...
7895  KG LOOSE                          B         4         7           5
7896
7897  KG LOOSE                          A        40        45          42
7898  KG LOOSE                          B        30        38          35
7899                PACKING          SIZE      MINI      MAXI       MODAL

          DATE
7696  25062018
7697  25062018
7698  25062018
7699  25062018
7700  25062018
...        ...
7895  25062018
7896  25062018
7897  25062018
7898  25062018
7899  26062018

[204 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
8110                  1           POTATO          1511.6
8111                                  UP                                   50
8112                                                                       50
8113                     PUN/HAR/HP(UNA)                   WHITE           50
8114                                                                       50
...                 ...              ...             ...     ...          ...
8307                 59    SARSON LEAVES
8308                                 LOC                                    1
8309                                                                        1
8310                 60         CAPSICUM              64
8311  NO. COMM. & STATE                          IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
8110
8111    KG BAG                          A       575       700         625
8112    KG BAG                          B       350       550         450
8113    KG BAG                          A       425       500         450
8114    KG BAG                          B       350       400         380
...        ...          ...           ...       ...       ...         ...
8307
8308  KG LOOSE                          A         8        10           9
8309  KG LOOSE                          B         4         7           5
8310
8311                PACKING          SIZE      MINI      MAXI       MODAL

          DATE
8110  26062018
8111  26062018
8112  26062018
8113  26062018
8114  26062018
...        ...
8307  26062018
8308  26062018
8309  26062018
8310  26062018
8311  27062018

[202 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
8522                  1           POTATO           834.3
8523                                  UP                                   50
8524                                                                       50
8525                     PUN/HAR/HP(UNA)                   WHITE           50
8526                                                                       50
...                 ...              ...             ...     ...          ...
8719                 59    SARSON LEAVES             0.1
8720                                 LOC                                    1
8721                                                                        1
8722                 60         CAPSICUM            74.3
8723  NO. COMM. & STATE                          IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
8522
8523    KG BAG                          A       575       700         625
8524    KG BAG                          B       350       550         450
8525    KG BAG                          A       425       500         450
8526    KG BAG                          B       350       400         380
...        ...          ...           ...       ...       ...         ...
8719
8720  KG LOOSE                          A         8        10           9
8721  KG LOOSE                          B         4         7           5
8722
8723                PACKING          SIZE      MINI      MAXI       MODAL

          DATE
8522  27062018
8523  27062018
8524  27062018
8525  27062018
8526  27062018
...        ...
8719  27062018
8720  27062018
8721  27062018
8722  27062018
8723  28062018

[202 rows x 12 columns]
                      S             NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG  \
8934                  1           POTATO          1002.7
8935                                  UP                                   50
8936                                                                       50
8937                     PUN/HAR/HP(UNA)                   WHITE           50
8938                                                                       50
...                 ...              ...             ...     ...          ...
9131                                                                        1
9132                 60         CAPSICUM            51.2
9133                                 HAR                                    1
9134                                                                        1
9135  NO. COMM. & STATE                          IN TONS               IN KG.

            KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE  \
8934
8935    KG BAG                          A       575       700         625
8936    KG BAG                          B       350       550         450
8937    KG BAG                          A       425       500         450
8938    KG BAG                          B       350       400         380
...        ...          ...           ...       ...       ...         ...
9131  KG LOOSE                          B         4         7           5
9132
9133  KG LOOSE                          A        50        60          55
9134  KG LOOSE                          B        40        48          45
9135                PACKING          SIZE      MINI      MAXI       MODAL

          DATE
8934  28062018
8935  28062018
8936  28062018
8937  28062018
8938  28062018
...        ...
9131  28062018
9132  28062018
9133  28062018
9134  28062018
9135  29062018

[202 rows x 12 columns]
                      S               NAME ARRIVAL_IN_TONS    VARIETY  \
9330                  1             POTATO          1160.7
9331                                    UP
9332
9333                               PUN/HAR                      WHITE
9334
...                 ...                ...             ...        ...
9543                 63           S.POTATO
9544                     KARNATAKA/GUJ/MAH                  HYB./DESI
9545
9546
9547  NO. COMM. & STATE                            IN TONS

     WEIGHT_IN_KG      KG PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE  \
9330
9331           50  KG BAG                          A       575       700
9332           50  KG BAG                          B       350       550
9333           50  KG BAG                          A       425       500
9334           50  KG BAG                          B       350       400
...           ...     ...          ...           ...       ...       ...
9543
9544           80  KG BAG                          A      1100      1200
9545           80  KG BAG                          B       900      1000
9546           80  KG BAG                          C       600       700
9547       IN KG.              PACKING          SIZE      MINI      MAXI

     MODAL_PRICE      DATE
9330              29062018
9331         625  29062018
9332         450  29062018
9333         450  29062018
9334         380  29062018
...          ...       ...
9543              29062018
9544        1150  29062018
9545         950  29062018
9546         650  29062018
9547       MODAL  30062018

[218 rows x 12 columns]
       S      NAME ARRIVAL_IN_TONS VARIETY WEIGHT_IN_KG        KG  \
9751   1    POTATO          1030.8
9752            UP                                   50    KG BAG
9753                                                 50    KG BAG
9754       PUN/HAR                   WHITE           50    KG BAG
9755                                                 50    KG BAG
...   ..       ...             ...     ...          ...       ...
9953                                                  1  KG LOOSE
9954  61  CAPSICUM            68.3
9955           HAR                                    1  KG LOOSE
9956                                                  1  KG LOOSE
9957           MAH                                    1  KG LOOSE

     PACKING_SIZE TYPE_OF_GRADE MIN_PRICE MAX_PRICE MODAL_PRICE      DATE
9751                                                             30062018
9752                          A       575       700         625  30062018
9753                          B       350       550         450  30062018
9754                          A       425       500         450  30062018
9755                          B       350       400         380  30062018
...           ...           ...       ...       ...         ...       ...
9953                          B         6         8           7  30062018
9954                                                             30062018
9955                          A        50        60          55  30062018
9956                          B        30        35          32  30062018
9957                                   50        60          56  30062018

[207 rows x 12 columns]

In [30]:
df_fruits

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE
0,1,APPLE,38.8,,,,,,,,,01062018
1,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,975,1200,1050,01062018
2,,,,,10,KG. C.BOX,,B,760,950,840,01062018
3,,,,,10,KG. C.BOX,,C,500,750,600,01062018
4,,HPS/UTK(CS),,ROYAL DEL.,10,KG. C.BOX,,A,725,1050,770,01062018
...,...,...,...,...,...,...,...,...,...,...,...,...
9746,,,,,100,KG. LOOSE,,B,400,480,440,30062018
9747,26 WATER MELON,,175,,,,,,,,,30062018
9748,,AP/MAH/RAJ,,ARUN,1,KG LOOSE,,A,7,9,9,30062018
9749,,,,,1\nKG LOOSE,,,B,4,6,5,30062018
9750,,,,,VEGETABLES,,,,,,,30062018

indexNames = df_fruits[ df_fruits['WEIGHT_IN_KG'] == 'VEGETABLES' ].index
df_fruits.drop(indexNames , inplace=True)

In [31]:
indexNames = df_fruits[df_fruits['WEIGHT_IN_KG'] == 'VEGETABLES'].index
df_fruits.drop(indexNames, inplace=True)

In [32]:
df_fruits

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE
0,1,APPLE,38.8,,,,,,,,,01062018
1,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,975,1200,1050,01062018
2,,,,,10,KG. C.BOX,,B,760,950,840,01062018
3,,,,,10,KG. C.BOX,,C,500,750,600,01062018
4,,HPS/UTK(CS),,ROYAL DEL.,10,KG. C.BOX,,A,725,1050,770,01062018
...,...,...,...,...,...,...,...,...,...,...,...,...
9745,,UP/LOCAL/HR,,,100,KG. LOOSE,,A,600,650,550,30062018
9746,,,,,100,KG. LOOSE,,B,400,480,440,30062018
9747,26 WATER MELON,,175,,,,,,,,,30062018
9748,,AP/MAH/RAJ,,ARUN,1,KG LOOSE,,A,7,9,9,30062018
9749,,,,,1\nKG LOOSE,,,B,4,6,5,30062018

In [63]:
drops = df_vegetables[df_vegetables['PACKING_SIZE'] == 'PACKING'].index
df_vegetables.drop(drops, inplace=True)
df_vegetables

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,DATE
245,1,POTATO,1065.7,,,,,,,,,01062018
246,,UP,,,50,KG BAG,,A,525,720,625,01062018
247,,,,,50,KG BAG,,B,300,500,450,01062018
248,,PUN/HAR/HP(UNA),,WHITE,50,KG BAG,,A,525,600,430,01062018
249,,,,,50,KG BAG,,B,350,500,430,01062018
...,...,...,...,...,...,...,...,...,...,...,...,...
9953,,,,,1,KG LOOSE,,B,6,8,7,30062018
9954,61,CAPSICUM,68.3,,,,,,,,,30062018
9955,,HAR,,,1,KG LOOSE,,A,50,60,55,30062018
9956,,,,,1,KG LOOSE,,B,30,35,32,30062018
9957,,MAH,,,1,KG LOOSE,,,50,60,56,30062018

In [50]:
df_fruits

,S,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE,level_0,index
0,1,APPLE,38.8,,,,,,,,,1.0,11.0
1,,HP/KINNAUR(CS),,ROYAL DEL.,10,KG. C.BOX,,A,975,1200,1050,2.0,12.0
2,,,,,10,KG. C.BOX,,B,760,950,840,3.0,13.0
3,,,,,10,KG. C.BOX,,C,500,750,600,4.0,14.0
4,,HPS/UTK(CS),,ROYAL DEL.,10,KG. C.BOX,,A,725,1050,770,5.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9745,,UP/LOCAL/HR,,,100,KG. LOOSE,,A,600,650,550,9746.0,68.0
9746,,,,,100,KG. LOOSE,,B,400,480,440,9747.0,69.0
9747,26 WATER MELON,,175,,,,,,,,,9748.0,70.0
9748,,AP/MAH/RAJ,,ARUN,1,KG LOOSE,,A,7,9,9,9749.0,71.0
9749,,,,,1\nKG LOOSE,,,B,4,6,5,9750.0,2.0

In [33]:
df_fruits.to_excel("fruits_june_2018.xlsx")

In [64]:
df_vegetables.to_excel("veggies_june_2018.xlsx")